<!DOCTYPE html>
<html lang="fr-FR">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="shortcut icon" href="/wp-content/uploads/2016/12/logo.png">
	<link rel="profile" href="http://gmpg.org/xfn/11">
	<title>GANNA HOTEL BENIN &#8211; Un hôtel comme chez soi</title>
	<link rel='dns-prefetch' href='http://fonts.googleapis.com/' />
	<link rel='dns-prefetch' href='http://s.w.org/' />
	<link rel="alternate" type="application/rss+xml" title="GANNA HOTEL BENIN &raquo; Flux" href="/feed/index.html" />
	<link rel="alternate" type="application/rss+xml" title="GANNA HOTEL BENIN &raquo; Flux des commentaires" href="/comments/feed/index.html" />
	<script type="text/javascript">
		window._wpemojiSettings = {"baseUrl":"https:\/\/s.w.org\/images\/core\/emoji\/2.2.1\/72x72\/","ext":".png","svgUrl":"https:\/\/s.w.org\/images\/core\/emoji\/2.2.1\/svg\/","svgExt":".svg","source":{"concatemoji":"\/wp-includes\/js\/wp-emoji-release.min.js?ver=4.7.16"}};
		!function(a,b,c){function d(a){var b,c,d,e,f=String.fromCharCode;if(!k||!k.fillText)return!1;switch(k.clearRect(0,0,j.width,j.height),k.textBaseline="top",k.font="600 32px Arial",a){case"flag":return k.fillText(f(55356,56826,55356,56819),0,0),!(j.toDataURL().length<3e3)&&(k.clearRect(0,0,j.width,j.height),k.fillText(f(55356,57331,65039,8205,55356,57096),0,0),b=j.toDataURL(),k.clearRect(0,0,j.width,j.height),k.fillText(f(55356,57331,55356,57096),0,0),c=j.toDataURL(),b!==c);case"emoji4":return k.fillText(f(55357,56425,55356,57341,8205,55357,56507),0,0),d=j.toDataURL(),k.clearRect(0,0,j.width,j.height),k.fillText(f(55357,56425,55356,57341,55357,56507),0,0),e=j.toDataURL(),d!==e}return!1}function e(a){var c=b.createElement("script");c.src=a,c.defer=c.type="text/javascript",b.getElementsByTagName("head")[0].appendChild(c)}var f,g,h,i,j=b.createElement("canvas"),k=j.getContext&&j.getContext("2d");for(i=Array("flag","emoji4"),c.supports={everything:!0,everythingExceptFlag:!0},h=0;h<i.length;h++)c.supports[i[h]]=d(i[h]),c.supports.everything=c.supports.everything&&c.supports[i[h]],"flag"!==i[h]&&(c.supports.everythingExceptFlag=c.supports.everythingExceptFlag&&c.supports[i[h]]);c.supports.everythingExceptFlag=c.supports.everythingExceptFlag&&!c.supports.flag,c.DOMReady=!1,c.readyCallback=function(){c.DOMReady=!0},c.supports.everything||(g=function(){c.readyCallback()},b.addEventListener?(b.addEventListener("DOMContentLoaded",g,!1),a.addEventListener("load",g,!1)):(a.attachEvent("onload",g),b.attachEvent("onreadystatechange",function(){"complete"===b.readyState&&c.readyCallback()})),f=c.source||{},f.concatemoji?e(f.concatemoji):f.wpemoji&&f.twemoji&&(e(f.twemoji),e(f.wpemoji)))}(window,document,window._wpemojiSettings);
	</script>
	<style type="text/css">
		img.wp-smiley,
		img.emoji {
			display: inline !important;
			border: none !important;
			box-shadow: none !important;
			height: 1em !important;
			width: 1em !important;
			margin: 0 .07em !important;
			vertical-align: -0.1em !important;
			background: none !important;
			padding: 0 !important;
		}
	</style>
	<link rel='stylesheet' id='contact-form-7-css'  href='/wp-content/plugins/contact-form-7/includes/css/styles1c9b.css?ver=4.6.1' type='text/css' media='all' />
	<link rel='stylesheet' id='rs-plugin-settings-css'  href='/wp-content/plugins/revslider/public/assets/css/settings5223.css?ver=5.2.6' type='text/css' media='all' />
	<style id='rs-plugin-settings-inline-css' type='text/css'>
		#rs-demo-id {}
	</style>
	<link rel='stylesheet' id='animate_css-css'  href='/wp-content/themes/starhotel/css/animate8c23.css?ver=4.7.16' type='text/css' media='all' />
	<link rel='stylesheet' id='bootstrapwp_css-css'  href='/wp-content/themes/starhotel/css/bootstrap6e0e.css?ver=3.0.0' type='text/css' media='all' />
	<link rel='stylesheet' id='font-awesome_css-css'  href='/wp-content/themes/starhotel/css/font-awesome.min8c23.css?ver=4.7.16' type='text/css' media='all' />
	<link rel='stylesheet' id='owlcarousel_css-css'  href='/wp-content/themes/starhotel/css/owl.carousel8c23.css?ver=4.7.16' type='text/css' media='all' />
	<link rel='stylesheet' id='owl-theme_css-css'  href='/wp-content/themes/starhotel/css/owl.theme8c23.css?ver=4.7.16' type='text/css' media='all' />
	<link rel='stylesheet' id='prettyphoto_css-css'  href='/wp-content/themes/starhotel/css/prettyPhoto8c23.css?ver=4.7.16' type='text/css' media='all' />
	<link rel='stylesheet' id='jqueryui_css-css'  href='/wp-content/themes/starhotel/css/smoothness/jquery-ui-1.10.4.custom.min8c23.css?ver=4.7.16' type='text/css' media='all' />
	<link rel='stylesheet' id='theme_css-css'  href='/wp-content/themes/starhotel/css/theme8c23.css?ver=4.7.16' type='text/css' media='all' />
	<link rel='stylesheet' id='responsive_css-css'  href='/wp-content/themes/starhotel/css/responsive8c23.css?ver=4.7.16' type='text/css' media='all' />
	<link rel='stylesheet' id='style_css-css'  href='/wp-content/themes/starhotel/style8c23.css?ver=4.7.16' type='text/css' media='all' />
	<link rel='stylesheet' id='js_composer_front-css'  href='/wp-content/plugins/js_composer/assets/css/js_composer.min0147.css?ver=4.12' type='text/css' media='all' />
	<link rel='stylesheet' id='bsf-Defaults-css'  href='/wp-content/uploads/smile_fonts/Defaults/Defaults8c23.css?ver=4.7.16' type='text/css' media='all' />
	<link rel='stylesheet' id='redux-google-fonts-sh_redux-css'  href='http://fonts.googleapis.com/css?family=Open+Sans&amp;ver=1566570356' type='text/css' media='all' />
	<script type='text/javascript' src='/wp-includes/js/jquery/jqueryb8ff.js?ver=1.12.4'></script>
	<script type='text/javascript' src='/wp-includes/js/jquery/jquery-migrate.min330a.js?ver=1.4.1'></script>
	<script type='text/javascript' src='/wp-content/plugins/revslider/public/assets/js/jquery.themepunch.tools.min5223.js?ver=5.2.6'></script>
	<script type='text/javascript' src='/wp-content/plugins/revslider/public/assets/js/jquery.themepunch.revolution.min5223.js?ver=5.2.6'></script>
	<link rel='https://api.w.org/' href='/wp-json/index.html' />
	<!-- <link rel="EditURI" type="application/rsd+xml" title="RSD" href="xmlrpc0db0.php?rsd" /> -->
	<link rel="wlwmanifest" type="application/wlwmanifest+xml" href="/wp-includes/wlwmanifest.xml" /> 
	<link rel="canonical" href="/" />
	<link rel='shortlink' href='/' />
	<link rel="alternate" type="application/json+oembed" href="/wp-json/oembed/1.0/embedb502.json?url=http%3A%2F%2Fgannahotelbenin.com%2F" />
	<link rel="alternate" type="text/xml+oembed" href="/wp-json/oembed/1.0/embed75ba?url=http%3A%2F%2Fgannahotelbenin.com%2F&amp;format=xml" />
	<script type='text/javascript'>
		jQuery(document).ready(function($) {
			var ult_smooth_speed = 480;
			var ult_smooth_step = 80;
			$('html').attr('data-ult_smooth_speed',ult_smooth_speed).attr('data-ult_smooth_step',ult_smooth_step);
		});
	</script>		<style type="text/css">.recentcomments a{display:inline !important;padding:0 !important;margin:0 !important;}</style>
	<!--[if lte IE 9]><link rel="stylesheet" type="text/css" href="/wp-content/plugins/js_composer/assets/css/vc_lte_ie9.min.css" media="screen"><![endif]--><!--[if IE  8]><link rel="stylesheet" type="text/css" href="/wp-content/plugins/js_composer/assets/css/vc-ie8.min.css" media="screen"><![endif]-->
    <style type="text/css" title="dynamic-css" class="options-output">body,.ui-widget,.revolution-starhotel{font-family:"Open Sans";line-height:18px;font-weight:normal;font-style:normal;font-size:14px;}h1,h2,h3,h4,h5,h6{font-family:"Open Sans";font-weight:normal;font-style:normal;}h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6{color:#5e5e5e;}body, aside .widget ul a, .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus, .nav-pills > li > a, .wpb_wrapper .wpb_tabs .ui-state-active a, .wpb_wrapper .wpb_tabs .ui-state-active a:link, .ui-widget-content, .wpb_wrapper .wpb_tour .wpb_tabs_nav li a:hover, .wpb_wrapper .wpb_tour .wpb_tabs_nav li a:active, .wpb_wrapper .wpb_tour .ui-state-active a, .wpb_wrapper .wpb_tour .ui-state-active a:link, .vc_tta-color-grey.vc_tta-style-classic .vc_tta-tab.vc_active > a, .vc_tta-color-grey.vc_tta-style-classic .vc_tta-panel .vc_tta-panel-title > a {color:#333333;}blockquote span, aside .widget .news-content span a, .room-thumb .main .price span{color:#cccccc;}.badge{background:#cccccc;}a, .navbar-default .navbar-brand, .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .dropdown-menu > li > a:focus, .navbar-default .navbar-nav > li.current-menu-ancestor  > a, .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus, .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus, .btn-default, .btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open .dropdown-toggle.btn-default, .wpb_wrapper .ui-state-default a, .ui-widget-content a, .vc_tta-color-grey.vc_tta-style-classic .vc_tta-tab > a, .vc_tta-color-grey.vc_tta-style-classic .vc_tta-panel.vc_active .vc_tta-panel-title > a {color:#75c5cf;}a:hover, a:focus, .box-icon a:hover, .usp a:hover i{color:#5e5e5e;}aside .widget .tagcloud a:hover{background-color:#5e5e5e;}article .meta-author, .meta-category, .meta-comments{color:#979797;}header, .navbar-nav .dropdown-menu, .blog-author img, .comment .avatar img, aside h3, blockquote, .ui-widget-header, .ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight, .ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus, .ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, #owl-gallery, .vc_images_carousel, #owl-reviews img, .parallax-effect, .revolution-slider, .testimonials .owl-theme .owl-controls .owl-buttons div, .standard-slider .owl-theme .owl-controls .owl-buttons div, #go-top, .box-icon .circle, .testimonials .owl-theme .owl-controls .owl-buttons div, .standard-slider .owl-theme .owl-controls .owl-buttons div, #map, .ubermenu-skin-none .ubermenu-submenu, .ubermenu-skin-none .ubermenu-submenu-drop{border-color:#75c5cf;}#top-header .th-text .th-item .btn-group ul.dropdown-menu > li > a:hover, article .meta-date, .comment .comment-reply-link, aside .widget .tagcloud a, aside .widget ul a:hover .badge, #call-to-action, .nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus, .pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus, .pagination > li > span.current, #go-top:hover, .testimonials .owl-theme .owl-controls .owl-buttons div:hover, .standard-slider .owl-theme .owl-controls .owl-buttons div:hover, .box-icon .circle:hover, .gallery a i, .gallery-slider a i, .vc_images_carousel a i, .sticky .meta:first-of-type::after{background-color:#75c5cf;}#reservation-form .fa.infield, #reservation-form .form-inline .fa.infield, .room-thumb .content i, .box-icon i, table i, #go-top i, .testimonials .owl-theme .owl-controls .owl-buttons div i, .standard-slider .owl-theme .owl-controls .owl-buttons div i, .testimonials .owl-theme .owl-controls .owl-buttons div, .standard-slider .owl-theme .owl-controls .owl-buttons div, #go-top, #reservation-form .price, label span, .room-thumb .main .price, .room-thumb .content p span, .blog-author span, #owl-reviews .text-balloon span, .ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight, .ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus, .ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, aside .widget ul a:hover, .yamm a:hover{color:#75c5cf;}.room-thumb .main .price, .comment, .table-striped > tbody > tr:nth-child(odd) > td, .table-striped > tbody > tr:nth-child(odd) > th, .panel-default > .panel-heading{background:rgba(90,186,198,0.03);}.blog article, aside .widget ul li, .form-control, aside .widget .news-thumb img, .table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td, h1.lined-heading:before, h2.lined-heading:before, h3.lined-heading:before, h4.lined-heading:before, h5.lined-heading:before, h6.lined-heading:before, .nav-tabs, .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus, .nav > li > a:hover, .nav > li > a:focus, .room-thumb .main, .room-thumb, .room-thumb .main .price, .room-thumb img, .wpb_wrapper .ui-widget-header, .wpb_wrapper .wpb_tabs .ui-state-active a, .wpb_wrapper .wpb_tabs .ui-state-active a:link, .wpb_tour .ui-state-default a, .wpb_accordion .wpb_accordion_wrapper .wpb_accordion_section .wpb_accordion_header a, .wpb_accordion .wpb_accordion_wrapper .wpb_accordion_section:first-child .wpb_accordion_header a, .wpb_accordion .wpb_accordion_wrapper .wpb_accordion_section:last-child .wpb_accordion_header a, .wpb_wrapper .wpb_tabs .wpb_tabs_nav li a:hover, .wpb_wrapper .ui-widget-header, .wpcf7 input[type="text"], .wpcf7 input[type="email"], .wpcf7 input[type="number"], .wpcf7 input[type="date"], .wpcf7 select, .wpcf7 textarea, .vc_tta-tabs:not([class*="vc_tta-gap"]):not(.vc_tta-o-no-fill).vc_tta-tabs-position-left .vc_tta-tab.vc_active > a, .vc_tta-color-grey.vc_tta-style-classic .vc_tta-tab > a:hover, .vc_tta-tabs:not([class*="vc_tta-gap"]):not(.vc_tta-o-no-fill).vc_tta-tabs-position-top .vc_tta-tab.vc_active > a{border-color:#ebebeb;}.ui-widget-header{color:#ebebeb;}.btn-primary, .btn-primary.disabled, .btn-primary[disabled]{background-color:#75c5cf;}.btn-primary, .btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary, .btn-primary.disabled, .btn-primary[disabled]{border-color:#35929e;}.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary{background-color:#64cedb;}.navbar-default .navbar-nav > li > a, .navbar-default .navbar-nav .dropdown-menu > li > a{color:#5e5e5e;}.navbar-default, .navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus, .navbar-nav .dropdown-menu > li > a:hover, .navbar-nav .dropdown-menu > li > a:focus, .navbar-nav .dropdown-menu, .ubermenu-skin-none .ubermenu-item .ubermenu-submenu-drop{background-color:#ffffff;}.navbar-nav .dropdown-menu > li > a, header #logo{border-color:#e1e1e1;}footer{background-color:#3c3c3c;}footer h1, footer h2, footer h3, footer h4, footer h5, footer h6{color:#898989;}footer, footer a, footer .form-control{color:#c1c1c1;}footer ul li, footer .form-control, footer .widget .news-thumb img{border-color:#898989;}footer .footer-bottom{background-color:#272727;}#top-header, #top-header a, #lang_sel a.lang_sel_sel, #lang_sel ul ul a, #lang_sel ul ul a:visited{background-color:#272727;}#top-header .th-text .th-item .btn-group ul.dropdown-menu > li > a, #lang_sel a.lang_sel_sel, #lang_sel ul ul a, #lang_sel ul ul a:visited{color:#939393;}#top-header a:hover, #top-header .th-text .th-item .btn-group .btn-default:hover, #top-header a, #top-header .th-text .th-item .btn-group ul.dropdown-menu > li > a, #top-header .th-text .th-item .btn-group .btn-default{color:#ffffff;}#top-header .th-text .th-item{border-color:#3c3c3c;}.parallax-effect .color-overlay{background:rgba(117,197,207,0.8);}.parallax-effect h1, .parallax-effect h2, .parallax-effect h3, .parallax-effect h4, .parallax-effect h5, .parallax-effect h6, .breadcrumb > li a, .parallax-effect #parallax-pagetitle{color:#FFFFFF;}body{background-color:#FFFFFF;}</style><style type="text/css" data-type="vc_shortcodes-custom-css">.vc_custom_1488031095309{margin-bottom: 20px !important;}</style><noscript><style type="text/css"> .wpb_animate_when_almost_visible { opacity: 1; }</style></noscript>
</head>

<body  class="home page-template page-template-page-slider-reservation page-template-page-slider-reservation-php page page-id-8 wpb-js-composer js-comp-ver-4.12 vc_responsive">
        <ul class="alertContainer" style="position: fixed; width: 100%; top: 0;left: 0; margin: 0;padding: 0;z-index: 10000;"></ul>

    <link rel="stylesheet" property="stylesheet" href="/wp-content/themes/starhotel/css/colors/blue.css">
    <div id="page" class="hfeed site">
        <!-- Top header -->
        <div id="top-header">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="th-text th-left-center">
                            <div class="th-item"> <a href="tel://+229 95 84 68 74 ou +229 96 01 30 30"><i class="fa fa-phone"></i> +229 95 84 68 74 ou +229 96 01 30 30</a> </div>
                            <div class="th-item"> <a href="mailto:gannahotel2010@gmail.com"><i class="fa fa-envelope"></i> gannahotel2010@gmail.com </a></div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="th-text th-right-center ">
                            <div class="th-item hidden-xs">
                                <div class="social-icons">
                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                    <a href="#"><i class="fa fa-youtube"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Header -->
        <header>
            <div class="navbar yamm navbar-default"  id="sticky" >
                <div class="container">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="/">
                            <!-- Logo -->
                            <div id="logo">
                                <img id="default-logo" src="/wp-content/uploads/2016/12/logo.png" alt="GANNA HOTEL BENIN" style="height:44px;">
                                <img id="retina-logo" src="/wp-content/uploads/2016/12/logo.png" alt="GANNA HOTEL BENIN" style="height:44px;">
                            </div>
                        </a>
                    </div>
                    <div id="bs-example-navbar-collapse-1" class="collapse navbar-collapse">
                        <ul id="menu-primary" class="nav navbar-nav">
                            <li id="menu-item-219" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-8 current_page_item menu-item-219 active active"><a title="Accueil" href="/">Accueil</a></li>
                            <li id="menu-item-252" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-252"><a title="Nos chambres" href="/nos-chambres">Nos chambres</a></li>
                            <li id="menu-item-445" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-445"><a title="La résidence" href="/room/la-residence">La résidence</a></li>
                            <li id="menu-item-251" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-251"><a title="Notre restaurant" href="/notre-restaurant">Notre restaurant</a></li>
                            <li id="menu-item-220" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-220"><a title="Galerie" href="/galerie">Galerie</a></li>
                            <li id="menu-item-234" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-234"><a title="Contact" href="/contact">Contact</a></li>
                        </ul>
                    </div>                    
                </div>
            </div>
        </header>

            <div id="content" class="site-content">
                <!-- Revolution Slider -->
                <div class="revolution-slider">
                    
                    <div id="rev_slider_6_1_wrapper" class="rev_slider_wrapper fullwidthbanner-container" style="margin:0px auto;background-color:transparent;padding:0px;margin-top:0px;margin-bottom:0px;">
                        <!-- START REVOLUTION SLIDER 5.2.6 auto mode -->
                        <div id="rev_slider_6_1" class="rev_slider fullwidthabanner" style="display:none;" data-version="5.2.6">
                            <ul>	
                                <li data-index="rs-12" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="300"  data-thumb="/wp-content/uploads/2017/02/R4-100x50.jpg"  data-rotate="0"  data-saveperformance="off"  data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
                                    <!-- MAIN IMAGE -->
                                    <img src="/wp-content/uploads/2017/02/R4.jpg"  alt="" title="R4"  width="4000" height="2880" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
                                    <!-- LAYERS -->
                                </li>
                                <li data-index="rs-15" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="300"  data-thumb="/wp-content/uploads/2017/02/R7-100x50.jpg"  data-rotate="0"  data-saveperformance="off"  data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
                                    <!-- MAIN IMAGE -->
                                    <img src="/wp-content/uploads/2017/02/R7.jpg"  alt="" title="R7"  width="4000" height="2728" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
                                    <!-- LAYERS -->
                                </li>
                            </ul>
                            <script>var htmlDiv = document.getElementById("rs-plugin-settings-inline-css"); var htmlDivCss="";
                            if(htmlDiv) {
                                htmlDiv.innerHTML = htmlDiv.innerHTML + htmlDivCss;
                            }else{
                                var htmlDiv = document.createElement("div");
                                htmlDiv.innerHTML = "<style>" + htmlDivCss + "</style>";
                                document.getElementsByTagName("head")[0].appendChild(htmlDiv.childNodes[0]);
                            }
                        </script>
                        <div class="tp-bannertimer" style="height: 5px; background-color: rgba(0, 0, 0, 0.15);"></div>	</div>
                        <script>var htmlDiv = document.getElementById("rs-plugin-settings-inline-css"); var htmlDivCss="";
                        if(htmlDiv) {
                            htmlDiv.innerHTML = htmlDiv.innerHTML + htmlDivCss;
                        }else{
                            var htmlDiv = document.createElement("div");
                            htmlDiv.innerHTML = "<style>" + htmlDivCss + "</style>";
                            document.getElementsByTagName("head")[0].appendChild(htmlDiv.childNodes[0]);
                        }
                    </script>
                    <script type="text/javascript">
                    /******************************************
            -	PREPARE PLACEHOLDER FOR SLIDER	-
            ******************************************/

            var setREVStartSize=function(){
                try{var e=new Object,i=jQuery(window).width(),t=9999,r=0,n=0,l=0,f=0,s=0,h=0;
                    e.c = jQuery('#rev_slider_6_1');
                    e.gridwidth = [1240];
                    e.gridheight = [480];
                    
                    e.sliderLayout = "auto";
                    if(e.responsiveLevels&&(jQuery.each(e.responsiveLevels,function(e,f){f>i&&(t=r=f,l=e),i>f&&f>r&&(r=f,n=e)}),t>r&&(l=n)),f=e.gridheight[l]||e.gridheight[0]||e.gridheight,s=e.gridwidth[l]||e.gridwidth[0]||e.gridwidth,h=i/s,h=h>1?1:h,f=Math.round(h*f),"fullscreen"==e.sliderLayout){var u=(e.c.width(),jQuery(window).height());if(void 0!=e.fullScreenOffsetContainer){var c=e.fullScreenOffsetContainer.split(",");if (c) jQuery.each(c,function(e,i){u=jQuery(i).length>0?u-jQuery(i).outerHeight(!0):u}),e.fullScreenOffset.split("%").length>1&&void 0!=e.fullScreenOffset&&e.fullScreenOffset.length>0?u-=jQuery(window).height()*parseInt(e.fullScreenOffset,0)/100:void 0!=e.fullScreenOffset&&e.fullScreenOffset.length>0&&(u-=parseInt(e.fullScreenOffset,0))}f=u}else void 0!=e.minHeight&&f<e.minHeight&&(f=e.minHeight);e.c.closest(".rev_slider_wrapper").css({height:f})
                    
                }catch(d){console.log("Failure at Presize of Slider:"+d)}
            };
            
            setREVStartSize();
            
            var tpj=jQuery;
            
            var revapi6;
            tpj(document).ready(function() {
                if(tpj("#rev_slider_6_1").revolution == undefined){
                    revslider_showDoubleJqueryError("#rev_slider_6_1");
                }else{
                    revapi6 = tpj("#rev_slider_6_1").show().revolution({
                        sliderType:"standard",
                        jsFileLocation:"/wp-content/plugins/revslider/public/assets/js/",
                        sliderLayout:"auto",
                        dottedOverlay:"none",
                        delay:9000,
                        navigation: {
                            keyboardNavigation:"off",
                            keyboard_direction: "horizontal",
                            mouseScrollNavigation:"off",
                            mouseScrollReverse:"default",
                            onHoverStop:"off",
                            arrows: {
                                style:"uranus",
                                enable:true,
                                hide_onmobile:false,
                                hide_onleave:false,
                                tmp:'',
                                left: {
                                    h_align:"left",
                                    v_align:"center",
                                    h_offset:20,
                                    v_offset:0
                                },
                                right: {
                                    h_align:"right",
                                    v_align:"center",
                                    h_offset:20,
                                    v_offset:0
                                }
                            }
                        },
                        visibilityLevels:[1240,1024,778,480],
                        gridwidth:1240,
                        gridheight:480,
                        lazyType:"none",
                        shadow:0,
                        spinner:"spinner0",
                        stopLoop:"off",
                        stopAfterLoops:-1,
                        stopAtSlide:-1,
                        shuffle:"off",
                        autoHeight:"off",
                        hideThumbsOnMobile:"off",
                        hideSliderAtLimit:0,
                        hideCaptionAtLimit:0,
                        hideAllCaptionAtLilmit:0,
                        debugMode:false,
                        fallbacks: {
                            simplifyAll:"off",
                            nextSlideOnWindowFocus:"off",
                            disableFocusListener:false,
                        }
                    });
                }
            });	/*ready*/
        </script>
        <script>
            var htmlDivCss = unescape("%23rev_slider_6_1%20.uranus.tparrows%20%7B%0A%20%20width%3A50px%3B%0A%20%20height%3A50px%3B%0A%20%20background%3Argba%28255%2C255%2C255%2C0%29%3B%0A%20%7D%0A%20%23rev_slider_6_1%20.uranus.tparrows%3Abefore%20%7B%0A%20width%3A50px%3B%0A%20height%3A50px%3B%0A%20line-height%3A50px%3B%0A%20font-size%3A40px%3B%0A%20transition%3Aall%200.3s%3B%0A-webkit-transition%3Aall%200.3s%3B%0A%20%7D%0A%20%0A%20%20%23rev_slider_6_1%20.uranus.tparrows%3Ahover%3Abefore%20%7B%0A%20%20%20%20opacity%3A0.75%3B%0A%20%20%7D%0A");
            var htmlDiv = document.getElementById('rs-plugin-settings-inline-css');
            if(htmlDiv) {
                htmlDiv.innerHTML = htmlDiv.innerHTML + htmlDivCss;
            }
            else{
                var htmlDiv = document.createElement('div');
                htmlDiv.innerHTML = '<style>' + htmlDivCss + '</style>';
                document.getElementsByTagName('head')[0].appendChild(htmlDiv.childNodes[0]);
            }
        </script>
    </div><!-- END REVOLUTION SLIDER --></div>

    <!-- Reservation form -->
    <div id="reservation-form">
        <div class="container">
            <div class="row">
                <div class="col-md-12 res-z-index">
                    <form class="form-inline reservation-horizontal clearfix js-reservationform" role="form" method="post" action="/reservation" name="reservationform">
                        <!-- Error message -->
                        <div id="message"></div>
                        <div class="row">
                            <div class="col-sm-2">
                                <div class="form-group">
                                    <label for="email" accesskey="E">E-mail</label>
                                    <div class="popover-icon" data-container="body" data-toggle="popover" data-trigger="hover" data-placement="right" data-content="Please fill in your email"><i class="fa fa-info-circle fa-lg"> </i></div>
                                    <input name="email" type="text" id="email" value="" class="form-control" placeholder="Svp entrer votre E-mail"/>
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <div class="form-group">
                                    <label for="phone" accesskey="P">Téléhone</label>
                                    <div class="popover-icon" data-container="body" data-toggle="popover" data-trigger="hover" data-placement="right" data-content="Please add your country code"><i class="fa fa-info-circle fa-lg"> </i></div>
                                    <input name="phone" type="text" id="phone" value="" class="form-control" placeholder="votre numero de téléphone"/>
                                </div>
                            </div>
                            <div class="col-sm-1">
                                <div class="form-group">
                                    <label for="room">Type</label>
                                    <select class="form-control" name="room" id="room">
                                        <option selected="selected" disabled="disabled">sélectionner une chambre</option>
                                        <option value="Pas de préférence">Pas de préférence</option>
                                        <option value="Double climatisée">Double climatisée</option>
                                        <option value="La suite">La suite</option>
                                        <option value="Chambre simple résidence">Chambre simple résidence</option>
                                        
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <div class="form-group">
                                    <label for="checkin">Arrivée</label>
                                    <div class="popover-icon" data-container="body" data-toggle="popover" data-trigger="hover" data-placement="right" data-content="Check-In is from 11:00"><i class="fa fa-info-circle fa-lg"> </i></div>
                                    <i class="fa fa-calendar infield"></i>
                                    <input name="checkin" type="text" id="checkin" value="" class="form-control" placeholder="Arrivée"/>
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <div class="form-group">
                                    <label for="checkout">Départ</label>
                                    <div class="popover-icon" data-container="body" data-toggle="popover" data-trigger="hover" data-placement="right" data-content="Check-out is from 12:00"><i class="fa fa-info-circle fa-lg"> </i></div>
                                    <i class="fa fa-calendar infield"></i>
                                    <input name="checkout" type="text" id="checkout" value="" class="form-control" placeholder="Départ"/>
                                </div>
                            </div>
                            <div class="col-sm-1">
                                <div class="form-group">
                                    <div class="guests-select">
                                        <label>invités</label>
                                        <i class="fa fa-user infield"></i>
                                        <div class="total form-control" id="test">1</div>
                                        <div class="guests">
                                            <div class="form-group adults">
                                                <label for="adults">Adults</label>
                                                <div class="popover-icon" data-container="body" data-toggle="popover" data-trigger="hover" data-placement="right" data-content="+18 years">
                                                    <i class="fa fa-info-circle fa-lg"> </i>
                                                </div>
                                                <select name="adults" id="adults" class="form-control">
                                                    <option value='1'>1 Adult(s)</option><option value='2'>2 Adult(s)</option><option value='3'>3 Adult(s)</option>                                                </select>
                                                </div>
                                                <div class="form-group children">
                                                    <label for="children">Children</label>
                                                    <div class="popover-icon" data-container="body" data-toggle="popover" data-trigger="hover" data-placement="right" data-content="0 till 18 years">
                                                        <i class="fa fa-info-circle fa-lg"> </i></div>
                                                        <select name="children" id="children" class="form-control">
                                                            <option value='0'>0 Child(ren)</option><option value='1'>1 Child(ren)</option><option value='2'>2 Child(ren)</option><option value='3'>3 Child(ren)</option>                                                </select>
                                                        </div>
                                                        <button type="button" class="btn btn-default button-save btn-block">Save</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-2">
                                            <button type="submit" class="btn btn-primary btn-block">Reserver</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="vc_row wpb_row vc_row-fluid"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner "><div class="wpb_wrapper">
                                <h2 class="lined-heading mt50">
                                    <span>
                                        Nos Chambres
                                    </span>
                                </h2>
                                
                                <!-- Rooms -->
                                <div class="rooms mt110">
                                    <div class="row room-list">
                                        
                                        <!-- Room -->
                                        <div class="col-sm-4 ">
                                            <div class="room-thumb">
                                                <img width="960" height="540" src="/wp-content/uploads/2015/03/36817658_619624645085969_4661527748097867776_n-1.jpg" class="img-responsive wp-post-image" alt="" srcset="/wp-content/uploads/2015/03/36817658_619624645085969_4661527748097867776_n-1.jpg 960w, /wp-content/uploads/2015/03/36817658_619624645085969_4661527748097867776_n-1-300x169.jpg 300w, /wp-content/uploads/2015/03/36817658_619624645085969_4661527748097867776_n-1-768x432.jpg 768w" sizes="(max-width: 960px) 100vw, 960px" />                            <div class="mask">
                                                    <div class="main">
                                                        <h5>Chambre simple résidence</h5>
                                                        <div class='price'> 25 000 FCFA<span>a night</span></div>                                </div>
                                                        <div class="content">
                                                            <p><span>1000 FCFA Taxe de nuitée par personne </span></p>

                                                            <div class="row">
                                                                <div class="col-xs-6">
                                                                    <ul class="list-unstyled">
                                                                        <li><i class='fa fa-check-circle'></i> 27 000 FCFA</li><li><i class='fa fa-check-circle'></i> 31 000 FCFA</li>                                            </ul>
                                                                    </div>
                                                                    <div class="col-xs-6">
                                                                        <ul class="list-unstyled">
                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                                <a href="room/la-residence" class="btn btn-primary btn-block"> Reserver maintenant </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                
                                                <!-- Room -->
                                                <div class="col-sm-4 ">
                                                    <div class="room-thumb">
                                                        <img width="960" height="540" src="/wp-content/uploads/2018/07/36884119_619625101752590_7571311431929298944_n.jpg" class="img-responsive wp-post-image" alt="" srcset="/wp-content/uploads/2018/07/36884119_619625101752590_7571311431929298944_n.jpg 960w, /wp-content/uploads/2018/07/36884119_619625101752590_7571311431929298944_n-300x169.jpg 300w, /wp-content/uploads/2018/07/36884119_619625101752590_7571311431929298944_n-768x432.jpg 768w" sizes="(max-width: 960px) 100vw, 960px" />                            <div class="mask">
                                                            <div class="main">
                                                                <h5>La suite</h5>
                                                                <div class='price'> 101 000 FCFA<span>a night</span></div>                                </div>
                                                                <div class="content">
                                                                    <p></p>

                                                                    <div class="row">
                                                                        <div class="col-xs-6">
                                                                            <ul class="list-unstyled">
                                                                            </ul>
                                                                        </div>
                                                                        <div class="col-xs-6">
                                                                            <ul class="list-unstyled">
                                                                            </ul>
                                                                        </div>
                                                                    </div>
                                                                    <a href="room/la-suite" class="btn btn-primary btn-block"> Reserver maintenant </a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    
                                                    <!-- Room -->
                                                    <div class="col-sm-4 ">
                                                        <div class="room-thumb">
                                                            <img width="1024" height="768" src="wp-content/uploads/2018/07/36795532_619625388419228_3246432897053229056_n.jpg" class="img-responsive wp-post-image" alt="" srcset="/wp-content/uploads/2018/07/36795532_619625388419228_3246432897053229056_n.jpg 1024w, /wp-content/uploads/2018/07/36795532_619625388419228_3246432897053229056_n-300x225.jpg 300w, /wp-content/uploads/2018/07/36795532_619625388419228_3246432897053229056_n-768x576.jpg 768w" sizes="(max-width: 1024px) 100vw, 1024px" />                            <div class="mask">
                                                                <div class="main">
                                                                    <h5>Double climatisée</h5>
                                                                    <div class='price'> 27 000 FCFA<span>a night</span></div>                                </div>
                                                                    <div class="content">
                                                                        <p></p>

                                                                        <div class="row">
                                                                            <div class="col-xs-6">
                                                                                <ul class="list-unstyled">
                                                                                    <li><i class='fa fa-check-circle'></i> 31 000 FCFA (Weekend)</li>                                            </ul>
                                                                                </div>
                                                                                <div class="col-xs-6">
                                                                                    <ul class="list-unstyled">
                                                                                    </ul>
                                                                                </div>
                                                                            </div>
                                                                            <a href="room/chambre-double-climatise" class="btn btn-primary btn-block"> Reserver maintenant </a>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div></div></div></div><div class="vc_row wpb_row vc_row-fluid vc_custom_1488031095309"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner "><div class="wpb_wrapper">
                                                    <h2 class="lined-heading mt50">
                                                        <span>
                                                            Nos services
                                                        </span>
                                                    </h2>
                                                    <div class="vc_row wpb_row vc_inner vc_row-fluid"><div class="wpb_column vc_column_container vc_col-sm-3"><div class="vc_column-inner "><div class="wpb_wrapper">
                                                        <div class="usp">
                                                            <div class="box-icon">
                                                                <div class="circle"><i class="fa fa fa-wifi fa-lg"></i></div>
                                                                <h3>Internet WIFI</h3>
                                                                <p>Internet haut débit disponible gratuitement.</p>
                                                            </div>
                                                        </div>
                                                    </div></div></div><div class="wpb_column vc_column_container vc_col-sm-3"><div class="vc_column-inner "><div class="wpb_wrapper">
                                                        <div class="usp">
                                                            <div class="box-icon">
                                                                <div class="circle"><i class="fa fa fa-contao fa-lg"></i></div>
                                                                <h3>Salle de conférences</h3>
                                                                <p>Des salles de conférences disponibles pour vos événements à moindre coût</p>
                                                            </div>
                                                        </div>
                                                    </div></div></div><div class="wpb_column vc_column_container vc_col-sm-3"><div class="vc_column-inner "><div class="wpb_wrapper">
                                                        <div class="usp">
                                                            <div class="box-icon">
                                                                <div class="circle"><i class="fa fa fa-cutlery fa-lg"></i></div>
                                                                <h3>Restauration</h3>
                                                                <p>Une cuisine hors du commun avec des plats européens et africains</p>
                                                            </div>
                                                        </div>
                                                    </div></div></div><div class="wpb_column vc_column_container vc_col-sm-3"><div class="vc_column-inner "><div class="wpb_wrapper">
                                                        <div class="usp">
                                                            <div class="box-icon">
                                                                <div class="circle"><i class="fa fa fa-car fa-lg"></i></div>
                                                                <h3>Excursions touristiques</h3>
                                                                <p>Nous vous faisons découvrir toute la splendeur de Grand-popo accompagné de nos meilleurs guides touristiques</p>
                                                            </div>
                                                        </div>
                                                    </div></div></div></div></div></div></div></div><div data-vc-full-width="true" data-vc-full-width-init="false" data-vc-stretch-content="true" class="vc_row wpb_row vc_row-fluid vc_row-no-padding"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner "><div class="wpb_wrapper">
                                                        <script type="text/javascript">jQuery(document).ready(function(){jQuery("#parallax-image").parallax("50%", -0.25);});</script>
                                                        <div class="parallax-effect">
                                                            <div id="parallax-image" style="background-image: url(/wp-content/uploads/2015/03/WhatsApp-Image-2017-02-25-at-14.26.46.html);">
                                                                <div class="color-overlay fadeIn appear" data-start="600">
                                                                    <div class="container">
                                                                        <div class="content">
                                                                            <h3 class="text-center">GANNA HOTEL</h3>
                                                                            <p class="text-center">La satisfaction est au rendez-vous
                                                                                <br>
                                                                                <a class="btn mt20 btn-lg btn-danger" href="/nos-chambres">Nos chambres</a>
                                                                            </p>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div></div></div></div><div class="vc_row-full-width vc_clearfix"></div><div class="vc_row wpb_row vc_row-fluid"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner "><div class="wpb_wrapper">
                                                        <h2 class="lined-heading mt50">
                                                            <span>
                                                                Nos salles de conférence 
                                                            </span>
                                                        </h2>
                                                        
                                                        <div class="wpb_text_column wpb_content_element ">
                                                            <div class="wpb_wrapper">
                                                                <p>Je suis un bloc de texte, cliquez sur le bouton \&nbsp;&raquo;éditer\&nbsp;&raquo; pour me modifier. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo.</p>

                                                            </div>
                                                        </div>
                                                        <div class="wpb_images_carousel wpb_content_element vc_clearfix">
                                                            <div class="wpb_wrapper">
                                                                <div id="vc_images-carousel-1-1581592996" data-ride="vc_carousel"
                                                                data-wrap="true" style="width: 100%;"
                                                                data-interval="5000" data-auto-height="yes"
                                                                data-mode="horizontal" data-partial="false"
                                                                data-per-view="3"
                                                                data-hide-on-end="false" class="vc_slide vc_images_carousel">
                                                                <!-- Wrapper for slides -->
                                                                <div class="vc_carousel-inner">
                                                                    <div class="vc_carousel-slideline">
                                                                        <div class="vc_carousel-slideline-inner">
                                                                            <div class="vc_item">
                                                                                <div class="vc_inner">
                                                                                    <a class="prettyphoto"
                                                                                    href="/wp-content/uploads/2017/02/IMG_3353-1024x768.jpg"  rel="prettyPhoto[rel-401-1889769611]">
                                                                                    <img width="4000" height="3000" src="/wp-content/uploads/2017/02/IMG_3353.jpg" class="attachment-full" alt="" srcset="/wp-content/uploads/2017/02/IMG_3353.jpg 4000w, /wp-content/uploads/2017/02/IMG_3353-300x225.jpg 300w, /wp-content/uploads/2017/02/IMG_3353-768x576.jpg 768w, /wp-content/uploads/2017/02/IMG_3353-1024x768.jpg 1024w" sizes="(max-width: 4000px) 100vw, 4000px" />                                        <i class="fa fa-search"></i>
                                                                                </a>
                                                                            </div>
                                                                        </div>
                                                                        <div class="vc_item">
                                                                            <div class="vc_inner">
                                                                                <a class="prettyphoto"
                                                                                href="/wp-content/uploads/2015/03/conference.jpg"  rel="prettyPhoto[rel-401-1889769611]">
                                                                                <img width="940" height="344" src="/wp-content/uploads/2015/03/conference.jpg" class="attachment-full" alt="" srcset="/wp-content/uploads/2015/03/conference.jpg 940w, /wp-content/uploads/2015/03/conference-300x110.jpg 300w, /wp-content/uploads/2015/03/conference-768x281.jpg 768w" sizes="(max-width: 940px) 100vw, 940px" />                                        <i class="fa fa-search"></i>
                                                                            </a>
                                                                        </div>
                                                                    </div>
                                                                    <div class="vc_item">
                                                                        <div class="vc_inner">
                                                                            <a class="prettyphoto"
                                                                            href="/wp-content/uploads/2016/12/image1.jpg"  rel="prettyPhoto[rel-401-1889769611]">
                                                                            <img width="800" height="600" src="/wp-content/uploads/2016/12/image1.jpg" class="attachment-full" alt="" srcset="/wp-content/uploads/2016/12/image1.jpg 800w, /wp-content/uploads/2016/12/image1-300x225.jpg 300w, /wp-content/uploads/2016/12/image1-768x576.jpg 768w" sizes="(max-width: 800px) 100vw, 800px" />                                        <i class="fa fa-search"></i>
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                                <div class="vc_item">
                                                                    <div class="vc_inner">
                                                                        <a class="prettyphoto"
                                                                        href="/wp-content/uploads/2016/12/image20.jpg"  rel="prettyPhoto[rel-401-1889769611]">
                                                                        <img width="789" height="600" src="/wp-content/uploads/2016/12/image20.jpg" class="attachment-full" alt="" srcset="/wp-content/uploads/2016/12/image20.jpg 789w, /wp-content/uploads/2016/12/image20-300x228.jpg 300w, /wp-content/uploads/2016/12/image20-768x584.jpg 768w" sizes="(max-width: 789px) 100vw, 789px" />                                        <i class="fa fa-search"></i>
                                                                    </a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div></div></div></div></div></div><div class="vc_row wpb_row vc_row-fluid"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner "><div class="wpb_wrapper">
                                            <h2 class="lined-heading mt50">
                                                <span>
                                                    Galerie
                                                </span>
                                            </h2>
                                            <div class="wpb_images_carousel wpb_content_element vc_clearfix">
                                                <div class="wpb_wrapper">
                                                    <div id="vc_images-carousel-2-1581592996" data-ride="vc_carousel"
                                                    data-wrap="true" style="width: 100%;"
                                                    data-interval="5000" data-auto-height="yes"
                                                    data-mode="horizontal" data-partial="false"
                                                    data-per-view="3"
                                                    data-hide-on-end="false" class="vc_slide vc_images_carousel">
                                                    <!-- Wrapper for slides -->
                                                    <div class="vc_carousel-inner">
                                                        <div class="vc_carousel-slideline">
                                                            <div class="vc_carousel-slideline-inner">
                                                                <div class="vc_item">
                                                                    <div class="vc_inner">
                                                                        <a class="prettyphoto"
                                                                        href="/wp-content/uploads/2017/02/imge1.jpg"  rel="prettyPhoto[rel-401-341083665]">
                                                                        <img width="197" height="147" src="/wp-content/uploads/2017/02/imge1.jpg" class="attachment-full" alt="" />                                        <i class="fa fa-search"></i>
                                                                    </a>
                                                                </div>
                                                            </div>
                                                            <div class="vc_item">
                                                                <div class="vc_inner">
                                                                    <a class="prettyphoto"
                                                                    href="/wp-content/uploads/2018/07/36884119_619625101752590_7571311431929298944_n.jpg"  rel="prettyPhoto[rel-401-341083665]">
                                                                    <img width="960" height="540" src="/wp-content/uploads/2018/07/36884119_619625101752590_7571311431929298944_n.jpg" class="attachment-full" alt="" srcset="/wp-content/uploads/2018/07/36884119_619625101752590_7571311431929298944_n.jpg 960w, /wp-content/uploads/2018/07/36884119_619625101752590_7571311431929298944_n-300x169.jpg 300w, /wp-content/uploads/2018/07/36884119_619625101752590_7571311431929298944_n-768x432.jpg 768w" sizes="(max-width: 960px) 100vw, 960px" />                                        <i class="fa fa-search"></i>
                                                                </a>
                                                            </div>
                                                        </div>
                                                        <div class="vc_item">
                                                            <div class="vc_inner">
                                                                <a class="prettyphoto"
                                                                href="/wp-content/uploads/2018/07/36795532_619625388419228_3246432897053229056_n-1024x768.jpg"  rel="prettyPhoto[rel-401-341083665]">
                                                                <img width="1024" height="768" src="/wp-content/uploads/2018/07/36795532_619625388419228_3246432897053229056_n.jpg" class="attachment-full" alt="" srcset="/wp-content/uploads/2018/07/36795532_619625388419228_3246432897053229056_n.jpg 1024w, /wp-content/uploads/2018/07/36795532_619625388419228_3246432897053229056_n-300x225.jpg 300w, /wp-content/uploads/2018/07/36795532_619625388419228_3246432897053229056_n-768x576.jpg 768w" sizes="(max-width: 1024px) 100vw, 1024px" />                                        <i class="fa fa-search"></i>
                                                            </a>
                                                        </div>
                                                    </div>
                                                    <div class="vc_item">
                                                        <div class="vc_inner">
                                                            <a class="prettyphoto"
                                                            href="/wp-content/uploads/2018/07/36756917_619625808419186_780694156694519808_n-1024x768.jpg"  rel="prettyPhoto[rel-401-341083665]">
                                                            <img width="1080" height="810" src="/wp-content/uploads/2018/07/36756917_619625808419186_780694156694519808_n.jpg" class="attachment-full" alt="" srcset="/wp-content/uploads/2018/07/36756917_619625808419186_780694156694519808_n.jpg 1080w, /wp-content/uploads/2018/07/36756917_619625808419186_780694156694519808_n-300x225.jpg 300w, /wp-content/uploads/2018/07/36756917_619625808419186_780694156694519808_n-768x576.jpg 768w, /wp-content/uploads/2018/07/36756917_619625808419186_780694156694519808_n-1024x768.jpg 1024w" sizes="(max-width: 1080px) 100vw, 1080px" />                                        <i class="fa fa-search"></i>
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="vc_item">
                                                    <div class="vc_inner">
                                                        <a class="prettyphoto"
                                                        href="/wp-content/uploads/2018/07/36785202_619624681752632_4305799242175217664_n.jpg"  rel="prettyPhoto[rel-401-341083665]">
                                                        <img width="960" height="540" src="/wp-content/uploads/2018/07/36785202_619624681752632_4305799242175217664_n.jpg" class="attachment-full" alt="" srcset="/wp-content/uploads/2018/07/36785202_619624681752632_4305799242175217664_n.jpg 960w, /wp-content/uploads/2018/07/36785202_619624681752632_4305799242175217664_n-300x169.jpg 300w, /wp-content/uploads/2018/07/36785202_619624681752632_4305799242175217664_n-768x432.jpg 768w" sizes="(max-width: 960px) 100vw, 960px" />                                        <i class="fa fa-search"></i>
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="vc_item">
                                                <div class="vc_inner">
                                                    <a class="prettyphoto"
                                                    href="/wp-content/uploads/2018/07/36788293_619625678419199_713437923776659456_n-1024x768.jpg"  rel="prettyPhoto[rel-401-341083665]">
                                                    <img width="1024" height="768" src="/wp-content/uploads/2018/07/36788293_619625678419199_713437923776659456_n.jpg" class="attachment-full" alt="" srcset="/wp-content/uploads/2018/07/36788293_619625678419199_713437923776659456_n.jpg 1024w, /wp-content/uploads/2018/07/36788293_619625678419199_713437923776659456_n-300x225.jpg 300w, /wp-content/uploads/2018/07/36788293_619625678419199_713437923776659456_n-768x576.jpg 768w" sizes="(max-width: 1024px) 100vw, 1024px" />                                        <i class="fa fa-search"></i>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="vc_item">
                                            <div class="vc_inner">
                                                <a class="prettyphoto"
                                                href="/wp-content/uploads/2018/07/36834039_619624791752621_669173058816180224_n.jpg"  rel="prettyPhoto[rel-401-341083665]">
                                                <img width="960" height="540" src="/wp-content/uploads/2018/07/36834039_619624791752621_669173058816180224_n.jpg" class="attachment-full" alt="" srcset="/wp-content/uploads/2018/07/36834039_619624791752621_669173058816180224_n.jpg 960w, /wp-content/uploads/2018/07/36834039_619624791752621_669173058816180224_n-300x169.jpg 300w, /wp-content/uploads/2018/07/36834039_619624791752621_669173058816180224_n-768x432.jpg 768w" sizes="(max-width: 960px) 100vw, 960px" />                                        <i class="fa fa-search"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="vc_item">
                                        <div class="vc_inner">
                                            <a class="prettyphoto"
                                            href="/wp-content/uploads/2018/07/36869224_619624955085938_5830240086515515392_n.jpg"  rel="prettyPhoto[rel-401-341083665]">
                                            <img width="960" height="540" src="/wp-content/uploads/2018/07/36869224_619624955085938_5830240086515515392_n.jpg" class="attachment-full" alt="" srcset="/wp-content/uploads/2018/07/36869224_619624955085938_5830240086515515392_n.jpg 960w, /wp-content/uploads/2018/07/36869224_619624955085938_5830240086515515392_n-300x169.jpg 300w, /wp-content/uploads/2018/07/36869224_619624955085938_5830240086515515392_n-768x432.jpg 768w" sizes="(max-width: 960px) 100vw, 960px" />                                        <i class="fa fa-search"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="vc_item">
                                    <div class="vc_inner">
                                        <a class="prettyphoto"
                                        href="/wp-content/uploads/2018/07/36817658_619624645085969_4661527748097867776_n.jpg"  rel="prettyPhoto[rel-401-341083665]">
                                        <img width="960" height="540" src="/wp-content/uploads/2018/07/36817658_619624645085969_4661527748097867776_n.jpg" class="attachment-full" alt="" srcset="/wp-content/uploads/2018/07/36817658_619624645085969_4661527748097867776_n.jpg 960w, /wp-content/uploads/2018/07/36817658_619624645085969_4661527748097867776_n-300x169.jpg 300w, /wp-content/uploads/2018/07/36817658_619624645085969_4661527748097867776_n-768x432.jpg 768w" sizes="(max-width: 960px) 100vw, 960px" />                                        <i class="fa fa-search"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="vc_item">
                                <div class="vc_inner">
                                    <a class="prettyphoto"
                                    href="/wp-content/uploads/2018/07/36832236_619625305085903_6076821954344517632_n-1024x768.jpg"  rel="prettyPhoto[rel-401-341083665]">
                                    <img width="1024" height="768" src="/wp-content/uploads/2018/07/36832236_619625305085903_6076821954344517632_n.jpg" class="attachment-full" alt="" srcset="/wp-content/uploads/2018/07/36832236_619625305085903_6076821954344517632_n.jpg 1024w, /wp-content/uploads/2018/07/36832236_619625305085903_6076821954344517632_n-300x225.jpg 300w, /wp-content/uploads/2018/07/36832236_619625305085903_6076821954344517632_n-768x576.jpg 768w" sizes="(max-width: 1024px) 100vw, 1024px" />                                        <i class="fa fa-search"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div></div></div></div></div></div>
</div>
</div>
</div>


</div>

<!-- Footer -->
<footer>

<div class="container">
    <div class="row">
        <div class="col-md-3 col-sm-3">
            <div class="widget"><h4>GANNA HOTEL</h4>			<div class="textwidget">GANNA HOTEL c'est 3 bâtiments, 5 salles de conférence, une résidence et 50 chambres climatisées d'un bon standing équipées d'écrans plasma. Avec des jeux pour enfants, une salle de gym, un bar-restaurant sous une paillote, le GANNA Hôtel a de nombreux atouts pour séduire le visiteur avec des circuits touristiques.</div>
        </div>            </div>
        <div class=" col-md-3 col-sm-3 ">
            <div class="widget"><h4>LIEN UtILES</h4><div class="menu-footer-menu-container"><ul id="menu-footer-menu" class="menu"><li id="menu-item-384" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-8 current_page_item menu-item-384"><a href="/">Accueil</a></li>
                <li id="menu-item-444" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-444"><a href="room/la-residence">La résidence</a></li>
                <li id="menu-item-387" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-387"><a href="nos-chambres">Nos chambres</a></li>
                <li id="menu-item-385" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-385"><a href="contact">Contact</a></li>
            </ul></div></div>            </div>
            <div class=" col-md-3 col-sm-3 ">
                <div class="widget"><h4>CONTACT</h4>			<div class="textwidget"><p><i class="fa fa-map-marker"></i> BENIN, Grand PoPo
                </p>
                <p><i class="fa fa-phone"></i> +229 95 84 68 74 ou +229 96 01 30 30</p>
                <p><i class="fa fa-envelope"></i> contact@gannahotelbenin.com</p>
                <p><i class="fa fa-envelope"></i> gannahotel2010@gmail.com</p></div>
            </div>            </div>
            
            <div class="col-md-3 col-sm-3">
                <div class="widget"><form role="search" method="get" class="searchform" action="/" >
                    <div>
                        <input type="text" value="" name="s" id="s" class="form-control" placeholder="Search..." />
                    </div>
                </form></div>            </div>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-xs-6"> &copy;2020 All Rights Reserved GANNA HOTEL BENIN </div>
                    <div class="col-xs-6 text-right">
                        <ul><li><a href="#">Service Technique GANNA HOTEL</a></li></ul>                </div>
                    </div>
                </div>
            </div>
        </footer>

        <!-- Go-top Button -->
        <div id="go-top"><i class="fa fa-angle-up fa-2x"></i></div>

    </div>
    <script type="text/javascript">
        function revslider_showDoubleJqueryError(sliderID) {
            var errorMessage = "Revolution Slider Error: You have some jquery.js library include that comes after the revolution files js include.";
            errorMessage += "<br> This includes make eliminates the revolution slider libraries, and make it not work.";
            errorMessage += "<br><br> To fix it you can:<br>&nbsp;&nbsp;&nbsp; 1. In the Slider Settings -> Troubleshooting set option:  <strong><b>Put JS Includes To Body</b></strong> option to true.";
            errorMessage += "<br>&nbsp;&nbsp;&nbsp; 2. Find the double jquery.js include and remove it.";
            errorMessage = "<span style='font-size:16px;color:#BC0C06;'>" + errorMessage + "</span>";
            jQuery(sliderID).show().html(errorMessage);
        }
    </script>
    <link rel='stylesheet' id='font-awesome-css'  href='/wp-content/plugins/js_composer/assets/lib/bower/font-awesome/css/font-awesome.min0147.css?ver=4.12' type='text/css' media='all' />
    <link rel='stylesheet' id='vc_carousel_css-css'  href='/wp-content/plugins/js_composer/assets/lib/vc_carousel/css/vc_carousel.min0147.css?ver=4.12' type='text/css' media='all' />
    <link rel='stylesheet' id='prettyphoto-css'  href='/wp-content/plugins/js_composer/assets/lib/prettyphoto/css/prettyPhoto.min0147.css?ver=4.12' type='text/css' media='all' />
    <script type='text/javascript' src='/wp-content/plugins/contact-form-7/includes/js/jquery.form.mind03d.js?ver=3.51.0-2014.06.20'></script>
    <script type='text/javascript'>
        /* <![CDATA[ */
        var _wpcf7 = {"recaptcha":{"messages":{"empty":"Merci de confirmer que vous n\u2019\u00eates pas un robot."}}};
        /* ]]> */
    </script>
    <script type='text/javascript' src='/wp-content/plugins/contact-form-7/includes/js/scripts1c9b.js?ver=4.6.1'></script>
    <script type='text/javascript' src='/wp-content/plugins/gallery-by-supsystic/src/GridGallery/Colorbox/jquery-colorbox/jquery.colorboxcad0.js?ver=1.12.3'></script>
    <script type='text/javascript' src='/wp-content/plugins/gallery-by-supsystic/src/GridGallery/Colorbox/jquery-colorbox/i18n/jquery.colorbox-frcad0.js?ver=1.12.3'></script>
    <script type='text/javascript' src='/wp-content/themes/starhotel/js/bootstrap.min6e0e.js?ver=3.0.0'></script>
    <script type='text/javascript' src='/wp-content/themes/starhotel/js/bootstrap-hover-dropdown.min8c23.js?ver=4.7.16'></script>
    <script type='text/javascript' src='/wp-content/themes/starhotel/js/owl.carousel.min8c23.js?ver=4.7.16'></script>
    <script type='text/javascript' src='/wp-content/themes/starhotel/js/jquery.parallax-1.1.38c23.js?ver=4.7.16'></script>
    <script type='text/javascript' src='/wp-content/themes/starhotel/js/jquery.nicescroll8c23.js?ver=4.7.16'></script>
    <script type='text/javascript' src='/wp-content/themes/starhotel/js/jquery.prettyPhoto8c23.js?ver=4.7.16'></script>
    <script type='text/javascript' src='/wp-content/themes/starhotel/js/jquery-ui-1.10.4.custom.min8c23.js?ver=4.7.16'></script>
    <script type='text/javascript' src='/wp-content/themes/starhotel/js/jquery.sticky8c23.js?ver=4.7.16'></script>
    <script type='text/javascript' src='/wp-content/themes/starhotel/js/jquery.forms8c23.js?ver=4.7.16'></script>
    <script type='text/javascript' src='/wp-content/themes/starhotel/js/waypoints.min8c23.js?ver=4.7.16'></script>
    <script type='text/javascript' src='/wp-content/themes/starhotel/js/jquery.isotope.min8c23.js?ver=4.7.16'></script>
    <script type='text/javascript' src='/wp-content/themes/starhotel/js/skip-link-focus-fix08e0.js?ver=20130115'></script>
    <script type='text/javascript'>
        /* <![CDATA[ */
        var object_sh_gmaps = {"mapaddress":"BENIN GRAND POPO, GANNA HOTEL","maplatitude":"6.2735234","maplongitude":"1.8022037","mapicon":"\/wp-content\/themes\/starhotel\/images\/ui\/gmap-icon.png","mappopover":"                    <h4>Notre Hotel<\/h4><p>Ganna Hotel Benin<\/p>                ","mapiconwidth":"42","mapiconheight":"53","mapzoom":"12"};
        var object_sh_date = {"datepickerformat":"d MM yy"};
        // var object_sh_date = {"datepickerformat":"DD, d MM, yy"};
        // var object_sh_translations = {"translations_months":["January","February","March","April","May","June","July","August","September","October","November","December"],"translations_days":["Su","Mo","Tu","We","Th","Fr","Sa"]};
        var object_sh_translations = {"translations_months":["Janvier","Février","Mars","Avril","Mai","Juin","Juillet","Août","Septembre","Octobre","Novembre","Décembre"],"translations_days":["Di","Lun","Mar","Mer","Jeu","Ven","Sa"]};
        /* ]]> */
    </script>
    <script type='text/javascript' src='/wp-content/themes/starhotel/js/custom8c23.js?ver=4.7.16'></script>
    <script type='text/javascript' src='/wp-content/plugins/Ultimate_VC_Addons/assets/min-js/SmoothScroll.minbcd2.js?ver=3.16.7'></script>
    <script type='text/javascript' src='/wp-includes/js/wp-embed.min8c23.js?ver=4.7.16'></script>
    <script type='text/javascript' src='/wp-content/plugins/js_composer/assets/js/dist/js_composer_front.min0147.js?ver=4.12'></script>
    <script type='text/javascript' src='/wp-content/plugins/js_composer/assets/lib/vc_carousel/js/transition.min0147.js?ver=4.12'></script>
    <script type='text/javascript' src='/wp-content/plugins/js_composer/assets/lib/vc_carousel/js/vc_carousel.min0147.js?ver=4.12'></script>
    <script type='text/javascript' src='/wp-content/plugins/js_composer/assets/lib/prettyphoto/js/jquery.prettyPhoto.min0147.js?ver=4.12'></script>
    <script type="text/javascript" src="/js/scripts.js"></script>
</body>

</html>
