<!DOCTYPE html>
<html lang="fr-FR">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="shortcut icon" href="/wp-content/uploads/2016/12/logo.png">
	<link rel="profile" href="http://gmpg.org/xfn/11">
	<title>Notre restaurant &#8211; GANNA HOTEL BENIN</title>
	<link rel='dns-prefetch' href='http://fonts.googleapis.com/' />
	<link rel='dns-prefetch' href='http://s.w.org/' />
	<link rel="alternate" type="application/rss+xml" title="GANNA HOTEL BENIN &raquo; Flux" href="/feed/index.html" />
	<link rel="alternate" type="application/rss+xml" title="GANNA HOTEL BENIN &raquo; Flux des commentaires" href="/comments/feed/index.html" />
	<script type="text/javascript">
		window._wpemojiSettings = {"baseUrl":"https:\/\/s.w.org\/images\/core\/emoji\/2.2.1\/72x72\/","ext":".png","svgUrl":"https:\/\/s.w.org\/images\/core\/emoji\/2.2.1\/svg\/","svgExt":".svg","source":{"concatemoji":"\/wp-includes\/js\/wp-emoji-release.min.js?ver=4.7.16"}};
		!function(a,b,c){function d(a){var b,c,d,e,f=String.fromCharCode;if(!k||!k.fillText)return!1;switch(k.clearRect(0,0,j.width,j.height),k.textBaseline="top",k.font="600 32px Arial",a){case"flag":return k.fillText(f(55356,56826,55356,56819),0,0),!(j.toDataURL().length<3e3)&&(k.clearRect(0,0,j.width,j.height),k.fillText(f(55356,57331,65039,8205,55356,57096),0,0),b=j.toDataURL(),k.clearRect(0,0,j.width,j.height),k.fillText(f(55356,57331,55356,57096),0,0),c=j.toDataURL(),b!==c);case"emoji4":return k.fillText(f(55357,56425,55356,57341,8205,55357,56507),0,0),d=j.toDataURL(),k.clearRect(0,0,j.width,j.height),k.fillText(f(55357,56425,55356,57341,55357,56507),0,0),e=j.toDataURL(),d!==e}return!1}function e(a){var c=b.createElement("script");c.src=a,c.defer=c.type="text/javascript",b.getElementsByTagName("head")[0].appendChild(c)}var f,g,h,i,j=b.createElement("canvas"),k=j.getContext&&j.getContext("2d");for(i=Array("flag","emoji4"),c.supports={everything:!0,everythingExceptFlag:!0},h=0;h<i.length;h++)c.supports[i[h]]=d(i[h]),c.supports.everything=c.supports.everything&&c.supports[i[h]],"flag"!==i[h]&&(c.supports.everythingExceptFlag=c.supports.everythingExceptFlag&&c.supports[i[h]]);c.supports.everythingExceptFlag=c.supports.everythingExceptFlag&&!c.supports.flag,c.DOMReady=!1,c.readyCallback=function(){c.DOMReady=!0},c.supports.everything||(g=function(){c.readyCallback()},b.addEventListener?(b.addEventListener("DOMContentLoaded",g,!1),a.addEventListener("load",g,!1)):(a.attachEvent("onload",g),b.attachEvent("onreadystatechange",function(){"complete"===b.readyState&&c.readyCallback()})),f=c.source||{},f.concatemoji?e(f.concatemoji):f.wpemoji&&f.twemoji&&(e(f.twemoji),e(f.wpemoji)))}(window,document,window._wpemojiSettings);
	</script>
	<style type="text/css">
		img.wp-smiley,
		img.emoji {
			display: inline !important;
			border: none !important;
			box-shadow: none !important;
			height: 1em !important;
			width: 1em !important;
			margin: 0 .07em !important;
			vertical-align: -0.1em !important;
			background: none !important;
			padding: 0 !important;
		}
	</style>
	<link rel='stylesheet' id='contact-form-7-css'  href='/wp-content/plugins/contact-form-7/includes/css/styles1c9b.css?ver=4.6.1' type='text/css' media='all' />
	<link rel='stylesheet' id='rs-plugin-settings-css'  href='/wp-content/plugins/revslider/public/assets/css/settings5223.css?ver=5.2.6' type='text/css' media='all' />
	<style id='rs-plugin-settings-inline-css' type='text/css'>
		#rs-demo-id {}
	</style>
	<link rel='stylesheet' id='animate_css-css'  href='/wp-content/themes/starhotel/css/animate8c23.css?ver=4.7.16' type='text/css' media='all' />
	<link rel='stylesheet' id='bootstrapwp_css-css'  href='/wp-content/themes/starhotel/css/bootstrap6e0e.css?ver=3.0.0' type='text/css' media='all' />
	<link rel='stylesheet' id='font-awesome_css-css'  href='/wp-content/themes/starhotel/css/font-awesome.min8c23.css?ver=4.7.16' type='text/css' media='all' />
	<link rel='stylesheet' id='owlcarousel_css-css'  href='/wp-content/themes/starhotel/css/owl.carousel8c23.css?ver=4.7.16' type='text/css' media='all' />
	<link rel='stylesheet' id='owl-theme_css-css'  href='/wp-content/themes/starhotel/css/owl.theme8c23.css?ver=4.7.16' type='text/css' media='all' />
	<link rel='stylesheet' id='prettyphoto_css-css'  href='/wp-content/themes/starhotel/css/prettyPhoto8c23.css?ver=4.7.16' type='text/css' media='all' />
	<link rel='stylesheet' id='jqueryui_css-css'  href='/wp-content/themes/starhotel/css/smoothness/jquery-ui-1.10.4.custom.min8c23.css?ver=4.7.16' type='text/css' media='all' />
	<link rel='stylesheet' id='theme_css-css'  href='/wp-content/themes/starhotel/css/theme8c23.css?ver=4.7.16' type='text/css' media='all' />
	<link rel='stylesheet' id='responsive_css-css'  href='/wp-content/themes/starhotel/css/responsive8c23.css?ver=4.7.16' type='text/css' media='all' />
	<link rel='stylesheet' id='style_css-css'  href='/wp-content/themes/starhotel/style8c23.css?ver=4.7.16' type='text/css' media='all' />
	<link rel='stylesheet' id='js_composer_front-css'  href='/wp-content/plugins/js_composer/assets/css/js_composer.min0147.css?ver=4.12' type='text/css' media='all' />
	<link rel='stylesheet' id='bsf-Defaults-css'  href='/wp-content/uploads/smile_fonts/Defaults/Defaults8c23.css?ver=4.7.16' type='text/css' media='all' />
	<link rel='stylesheet' id='redux-google-fonts-sh_redux-css'  href='http://fonts.googleapis.com/css?family=Open+Sans&amp;ver=1566570356' type='text/css' media='all' />
	<script type='text/javascript' src='/wp-includes/js/jquery/jqueryb8ff.js?ver=1.12.4'></script>
	<script type='text/javascript' src='/wp-includes/js/jquery/jquery-migrate.min330a.js?ver=1.4.1'></script>
	<script type='text/javascript' src='/wp-content/plugins/revslider/public/assets/js/jquery.themepunch.tools.min5223.js?ver=5.2.6'></script>
	<script type='text/javascript' src='/wp-content/plugins/revslider/public/assets/js/jquery.themepunch.revolution.min5223.js?ver=5.2.6'></script>
	<link rel='https://api.w.org/' href='/wp-json/index.html' />
	<link rel="wlwmanifest" type="application/wlwmanifest+xml" href="/wp-includes/wlwmanifest.xml" /> 
	<link rel="alternate" type="application/json+oembed" href="/wp-json/oembed/1.0/embed1eb0.json?url=http%3A%2F%2Fgannahotelbenin.com%2Fnotre-restaurant" />
	<link rel="alternate" type="text/xml+oembed" href="/wp-json/oembed/1.0/embedee42?url=http%3A%2F%2Fgannahotelbenin.com%2Fnotre-restaurant&amp;format=xml" />
	<script type='text/javascript'>
		jQuery(document).ready(function($) {
			var ult_smooth_speed = 480;
			var ult_smooth_step = 80;
			$('html').attr('data-ult_smooth_speed',ult_smooth_speed).attr('data-ult_smooth_step',ult_smooth_step);
		});
	</script>		<style type="text/css">.recentcomments a{display:inline !important;padding:0 !important;margin:0 !important;}</style>
	<!--[if lte IE 9]><link rel="stylesheet" type="text/css" href="/wp-content/plugins/js_composer/assets/css/vc_lte_ie9.min.css" media="screen"><![endif]--><!--[if IE  8]><link rel="stylesheet" type="text/css" href="/wp-content/plugins/js_composer/assets/css/vc-ie8.min.css" media="screen"><![endif]-->
	<style type="text/css" title="dynamic-css" class="options-output">body,.ui-widget,.revolution-starhotel{font-family:"Open Sans";line-height:18px;font-weight:normal;font-style:normal;font-size:14px;}h1,h2,h3,h4,h5,h6{font-family:"Open Sans";font-weight:normal;font-style:normal;}h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6{color:#5e5e5e;}body, aside .widget ul a, .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus, .nav-pills > li > a, .wpb_wrapper .wpb_tabs .ui-state-active a, .wpb_wrapper .wpb_tabs .ui-state-active a:link, .ui-widget-content, .wpb_wrapper .wpb_tour .wpb_tabs_nav li a:hover, .wpb_wrapper .wpb_tour .wpb_tabs_nav li a:active, .wpb_wrapper .wpb_tour .ui-state-active a, .wpb_wrapper .wpb_tour .ui-state-active a:link, .vc_tta-color-grey.vc_tta-style-classic .vc_tta-tab.vc_active > a, .vc_tta-color-grey.vc_tta-style-classic .vc_tta-panel .vc_tta-panel-title > a {color:#333333;}blockquote span, aside .widget .news-content span a, .room-thumb .main .price span{color:#cccccc;}.badge{background:#cccccc;}a, .navbar-default .navbar-brand, .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .dropdown-menu > li > a:focus, .navbar-default .navbar-nav > li.current-menu-ancestor  > a, .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus, .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus, .btn-default, .btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open .dropdown-toggle.btn-default, .wpb_wrapper .ui-state-default a, .ui-widget-content a, .vc_tta-color-grey.vc_tta-style-classic .vc_tta-tab > a, .vc_tta-color-grey.vc_tta-style-classic .vc_tta-panel.vc_active .vc_tta-panel-title > a {color:#75c5cf;}a:hover, a:focus, .box-icon a:hover, .usp a:hover i{color:#5e5e5e;}aside .widget .tagcloud a:hover{background-color:#5e5e5e;}article .meta-author, .meta-category, .meta-comments{color:#979797;}header, .navbar-nav .dropdown-menu, .blog-author img, .comment .avatar img, aside h3, blockquote, .ui-widget-header, .ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight, .ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus, .ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, #owl-gallery, .vc_images_carousel, #owl-reviews img, .parallax-effect, .revolution-slider, .testimonials .owl-theme .owl-controls .owl-buttons div, .standard-slider .owl-theme .owl-controls .owl-buttons div, #go-top, .box-icon .circle, .testimonials .owl-theme .owl-controls .owl-buttons div, .standard-slider .owl-theme .owl-controls .owl-buttons div, #map, .ubermenu-skin-none .ubermenu-submenu, .ubermenu-skin-none .ubermenu-submenu-drop{border-color:#75c5cf;}#top-header .th-text .th-item .btn-group ul.dropdown-menu > li > a:hover, article .meta-date, .comment .comment-reply-link, aside .widget .tagcloud a, aside .widget ul a:hover .badge, #call-to-action, .nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus, .pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus, .pagination > li > span.current, #go-top:hover, .testimonials .owl-theme .owl-controls .owl-buttons div:hover, .standard-slider .owl-theme .owl-controls .owl-buttons div:hover, .box-icon .circle:hover, .gallery a i, .gallery-slider a i, .vc_images_carousel a i, .sticky .meta:first-of-type::after{background-color:#75c5cf;}#reservation-form .fa.infield, #reservation-form .form-inline .fa.infield, .room-thumb .content i, .box-icon i, table i, #go-top i, .testimonials .owl-theme .owl-controls .owl-buttons div i, .standard-slider .owl-theme .owl-controls .owl-buttons div i, .testimonials .owl-theme .owl-controls .owl-buttons div, .standard-slider .owl-theme .owl-controls .owl-buttons div, #go-top, #reservation-form .price, label span, .room-thumb .main .price, .room-thumb .content p span, .blog-author span, #owl-reviews .text-balloon span, .ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight, .ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus, .ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, aside .widget ul a:hover, .yamm a:hover{color:#75c5cf;}.room-thumb .main .price, .comment, .table-striped > tbody > tr:nth-child(odd) > td, .table-striped > tbody > tr:nth-child(odd) > th, .panel-default > .panel-heading{background:rgba(90,186,198,0.03);}.blog article, aside .widget ul li, .form-control, aside .widget .news-thumb img, .table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td, h1.lined-heading:before, h2.lined-heading:before, h3.lined-heading:before, h4.lined-heading:before, h5.lined-heading:before, h6.lined-heading:before, .nav-tabs, .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus, .nav > li > a:hover, .nav > li > a:focus, .room-thumb .main, .room-thumb, .room-thumb .main .price, .room-thumb img, .wpb_wrapper .ui-widget-header, .wpb_wrapper .wpb_tabs .ui-state-active a, .wpb_wrapper .wpb_tabs .ui-state-active a:link, .wpb_tour .ui-state-default a, .wpb_accordion .wpb_accordion_wrapper .wpb_accordion_section .wpb_accordion_header a, .wpb_accordion .wpb_accordion_wrapper .wpb_accordion_section:first-child .wpb_accordion_header a, .wpb_accordion .wpb_accordion_wrapper .wpb_accordion_section:last-child .wpb_accordion_header a, .wpb_wrapper .wpb_tabs .wpb_tabs_nav li a:hover, .wpb_wrapper .ui-widget-header, .wpcf7 input[type="text"], .wpcf7 input[type="email"], .wpcf7 input[type="number"], .wpcf7 input[type="date"], .wpcf7 select, .wpcf7 textarea, .vc_tta-tabs:not([class*="vc_tta-gap"]):not(.vc_tta-o-no-fill).vc_tta-tabs-position-left .vc_tta-tab.vc_active > a, .vc_tta-color-grey.vc_tta-style-classic .vc_tta-tab > a:hover, .vc_tta-tabs:not([class*="vc_tta-gap"]):not(.vc_tta-o-no-fill).vc_tta-tabs-position-top .vc_tta-tab.vc_active > a{border-color:#ebebeb;}.ui-widget-header{color:#ebebeb;}.btn-primary, .btn-primary.disabled, .btn-primary[disabled]{background-color:#75c5cf;}.btn-primary, .btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary, .btn-primary.disabled, .btn-primary[disabled]{border-color:#35929e;}.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary{background-color:#64cedb;}.navbar-default .navbar-nav > li > a, .navbar-default .navbar-nav .dropdown-menu > li > a{color:#5e5e5e;}.navbar-default, .navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus, .navbar-nav .dropdown-menu > li > a:hover, .navbar-nav .dropdown-menu > li > a:focus, .navbar-nav .dropdown-menu, .ubermenu-skin-none .ubermenu-item .ubermenu-submenu-drop{background-color:#ffffff;}.navbar-nav .dropdown-menu > li > a, header #logo{border-color:#e1e1e1;}footer{background-color:#3c3c3c;}footer h1, footer h2, footer h3, footer h4, footer h5, footer h6{color:#898989;}footer, footer a, footer .form-control{color:#c1c1c1;}footer ul li, footer .form-control, footer .widget .news-thumb img{border-color:#898989;}footer .footer-bottom{background-color:#272727;}#top-header, #top-header a, #lang_sel a.lang_sel_sel, #lang_sel ul ul a, #lang_sel ul ul a:visited{background-color:#272727;}#top-header .th-text .th-item .btn-group ul.dropdown-menu > li > a, #lang_sel a.lang_sel_sel, #lang_sel ul ul a, #lang_sel ul ul a:visited{color:#939393;}#top-header a:hover, #top-header .th-text .th-item .btn-group .btn-default:hover, #top-header a, #top-header .th-text .th-item .btn-group ul.dropdown-menu > li > a, #top-header .th-text .th-item .btn-group .btn-default{color:#ffffff;}#top-header .th-text .th-item{border-color:#3c3c3c;}.parallax-effect .color-overlay{background:rgba(117,197,207,0.8);}.parallax-effect h1, .parallax-effect h2, .parallax-effect h3, .parallax-effect h4, .parallax-effect h5, .parallax-effect h6, .breadcrumb > li a, .parallax-effect #parallax-pagetitle{color:#FFFFFF;}body{background-color:#FFFFFF;}</style><noscript><style type="text/css"> .wpb_animate_when_almost_visible { opacity: 1; }</style></noscript></head>

	<body  class="page-template-default page page-id-245 wpb-js-composer js-comp-ver-4.12 vc_responsive">
		<link rel="stylesheet" property="stylesheet" href="/wp-content/themes/starhotel/css/colors/blue.css">
		<div id="page" class="hfeed site">
			<!-- Top header -->
			<div id="top-header">
				<div class="container">
					<div class="row">
						<div class="col-sm-6">
							<div class="th-text th-left-center">
								<div class="th-item"> <a href="tel://+229 95 84 68 74 ou +229 96 01 30 30"><i class="fa fa-phone"></i> +229 95 84 68 74 ou +229 96 01 30 30</a> </div>
								<div class="th-item"> <a href="mailto:gannahotel2010@gmail.com"><i class="fa fa-envelope"></i> gannahotel2010@gmail.com </a></div>
							</div>
						</div>
						<div class="col-sm-6">
							<div class="th-text th-right-center ">
								<div class="th-item hidden-xs">
									<div class="social-icons">
										<a href="#"><i class="fa fa-facebook"></i></a>
										<a href="#"><i class="fa fa-youtube"></i></a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			
			<!-- Header -->
			<header>
				<div class="navbar yamm navbar-default"  id="sticky" >
					<div class="container">
						<!-- Brand and toggle get grouped for better mobile display -->
						<div class="navbar-header">
							<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
								<span class="sr-only">Toggle navigation</span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>
							<a class="navbar-brand" href="/">
								<!-- Logo -->
								<div id="logo">
									<img id="default-logo" src="/wp-content/uploads/2016/12/logo.png" alt="GANNA HOTEL BENIN" style="height:44px;">
									<img id="retina-logo" src="/wp-content/uploads/2016/12/logo.png" alt="GANNA HOTEL BENIN" style="height:44px;">
								</div>
							</a>
						</div>
						<div id="bs-example-navbar-collapse-1" class="collapse navbar-collapse"><ul id="menu-primary" class="nav navbar-nav"><li id="menu-item-219" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home menu-item-219"><a title="Accueil" href="/">Accueil</a></li>
							<li id="menu-item-252" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-252"><a title="Nos chambres" href="/nos-chambres">Nos chambres</a></li>
							<li id="menu-item-445" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-445"><a title="La résidence" href="/room/la-residence">La résidence</a></li>
							<li id="menu-item-251" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-245 current_page_item menu-item-251 active active"><a title="Notre restaurant" href="/notre-restaurant">Notre restaurant</a></li>
							<li id="menu-item-220" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-220"><a title="Galerie" href="/galerie">Galerie</a></li>
							<li id="menu-item-234" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-234"><a title="Contact" href="/contact">Contact</a></li>
						</ul></div>                    </div>
					</div>
				</header>

				<div id="content" class="site-content">
					<!-- Parallax Effect -->
					<script type="text/javascript">jQuery(document).ready(function(){jQuery('#parallax-pagetitle').parallax("50%", -0.55);});</script>
					<div class="parallax-effect">
						<div id="parallax-pagetitle" style="background-image: url();">
							<div class="color-overlay">
								<!-- Page title -->
								<div class="container">
									<div class="row">
										<div class="col-sm-12">
											<ol class="breadcrumb"><li><a href="/">Accueil</a></li><li>Notre restaurant</li></ol>                                                                                    <h1>Notre restaurant</h1>                                                    </div>
										</div>
									</div>
								</div>
							</div>
						</div>

						<div class="container">
							<div class="row">
								<!-- Page -->
								<div class="page mt50">
									<div class="col-md-12">
										<div class="vc_row wpb_row vc_row-fluid"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner "><div class="wpb_wrapper">
											<h2 class="lined-heading mt50">
												<span>
													Venez goûter aux délices de notre cuisine
												</span>
											</h2>
											
											<div class="wpb_text_column wpb_content_element  wpb_animate_when_almost_visible wpb_appear">
												<div class="wpb_wrapper">
													<p>GANNA HOTEL vous propose du vin et du champagne à la carte; un menu divers et varié , savant mélange de cuisine européenne et de saveurs du Monde.</p>
													<p>&nbsp;</p>
													<p>Au réveil, un petit déjeuner complet et vitaminé vous est servi pour entamer votre journée avec force et vigueur.</p>
													<p>Le restaurant « GANNA HOTEL » vous ouvre ses portes de 07H à 23H dans un décor soigné et original pour le plus grand plaisir de vos papilles.</p>
													<p>Petit-déjeuner à 3 000 FCFA. Plats entre 3 000 et 10 000 FCFA</p>

												</div>
											</div>

											<div class="wpb_text_column wpb_content_element ">
												<div class="wpb_wrapper">
													<div id="grid-gallery-9-12362" data-gg-id="9" data-title="test" data-grid-type="1" data-offset="0" data-area-position="center" data-icons="false" data-preloader="true" data-width="386" data-height="" data-padding="0" data-quicksand="disabled" data-quicksand-duration="none" data-popup-theme="theme_6" data-popup-type="pretty-photo" data-popup-image-text="data-caption" data-popup-widthsize="auto" data-popup-heightsize="auto" data-popup-i18n-words="{&quot;close&quot;:&quot;close&quot;,&quot;next&quot;:&quot;next&quot;,&quot;previous&quot;:&quot;previous&quot;,&quot;start_slideshow&quot;:&quot;start slideshow&quot;,&quot;stop_slideshow&quot;:&quot;stop slideshow&quot;,&quot;image&quot;:&quot;image&quot;,&quot;of&quot;:&quot;of&quot;,&quot;prev&quot;:&quot;prev&quot;,&quot;cExpand&quot;:&quot;Expand&quot;,&quot;cPrevious&quot;:&quot;Previous&quot;,&quot;cNext&quot;:&quot;Next&quot;,&quot;cExpandStr&quot;:&quot;Expand the image&quot;,&quot;cRotate&quot;:&quot;Rotate&quot;,&quot;cDetails&quot;:&quot;Details&quot;}" data-popup-slideshow="false" data-popup-slideshow-speed="2500" data-popup-hoverstop="false" data-popup-slideshow-auto="false" data-popup-background="" data-popup-transparency="30" data-popup-disable-history="" data-fullscreen="true" data-hide-tooltip="false" data-caption-font-family="Default" data-caption-text-size="14px" data-is-mobile="0" data-caption-mobile="false" data-hide-long-tltp-title="0" data-caption-disabled-on-mobile="false" data-popup-placement-type="0" data-social-sharing="{&quot;enabled&quot;:&quot;&quot;,&quot;gallerySharing&quot;:{&quot;enabled&quot;:null,&quot;position&quot;:null},&quot;imageSharing&quot;:{&quot;enabled&quot;:null,&quot;wrapperClass&quot;:&quot; vertical \n &quot;},&quot;popupSharing&quot;:{&quot;enabled&quot;:null,&quot;wrapperClass&quot;:&quot; vertical \n &quot;}}" class="grid-gallery grid-gallery-fluid-height " style=" width:100%; height:auto ; margin-left:auto; margin-right:auto; position:relative;" > <div class="gallery-loading"> <div class="blocks"> <div class="block"></div> <div class="block"></div> <div class="block"></div> <div class="block"></div> </div> </div> <div class="gallery-sharing-top"></div> <div id="photos-9" class="grid-gallery-photos " > <a id="gg-9-60" class="gg-link " href="/wp-content/uploads/2017/02/gallerie402d9.jpg?gid=9" target="_self" title="gallerie4" data-rel="prettyPhoto[pp_gal]" style="border-radius: 0px;" ><FIGURE class="grid-gallery-caption " data-grid-gallery-type="revolving-door-left" data-index="0" style="display:none;border-radius: 0px; ; margin: 0px; width:386px;" ><div class="crop " style=" "><img src="/wp-content/uploads/2017/02/gallerie4-386x243.jpg" class="ggImg" alt="gallerie4" title="gallerie4" data-description="gallerie4" data-caption="gallerie4" data-title="gallerie4" style=" width:386px; " /></div><FIGCAPTION class="" data-alpha="5" style="color:#ffffff; background-color:#0a076d; font-size:14px; text-align:left; font-family:Default;" ><div class="grid-gallery-figcaption-wrap" style=" vertical-align:top; "></div></FIGCAPTION></FIGURE></a> <a id="gg-9-61" class="gg-link " href="/wp-content/uploads/2017/02/gallerie302d9.jpg?gid=9" target="_self" title="gallerie3" data-rel="prettyPhoto[pp_gal]" style="border-radius: 0px;" ><FIGURE class="grid-gallery-caption " data-grid-gallery-type="revolving-door-left" data-index="1" style="display:none;border-radius: 0px; ; margin: 0px; width:386px;" ><div class="crop " style=" "><img src="/wp-content/uploads/2017/02/gallerie3-386x243.jpg" class="ggImg" alt="gallerie3" title="gallerie3" data-description="gallerie3" data-caption="gallerie3" data-title="gallerie3" style=" width:386px; " /></div><FIGCAPTION class="" data-alpha="5" style="color:#ffffff; background-color:#0a076d; font-size:14px; text-align:left; font-family:Default;" ><div class="grid-gallery-figcaption-wrap" style=" vertical-align:top; "></div></FIGCAPTION></FIGURE></a> <a id="gg-9-62" class="gg-link " href="/wp-content/uploads/2017/02/gallerie202d9.jpg?gid=9" target="_self" title="gallerie2" data-rel="prettyPhoto[pp_gal]" style="border-radius: 0px;" ><FIGURE class="grid-gallery-caption " data-grid-gallery-type="revolving-door-left" data-index="2" style="display:none;border-radius: 0px; ; margin: 0px; width:386px;" ><div class="crop " style=" "><img src="/wp-content/uploads/2017/02/gallerie2-386x243.jpg" class="ggImg" alt="gallerie2" title="gallerie2" data-description="gallerie2" data-caption="gallerie2" data-title="gallerie2" style=" width:386px; " /></div><FIGCAPTION class="" data-alpha="5" style="color:#ffffff; background-color:#0a076d; font-size:14px; text-align:left; font-family:Default;" ><div class="grid-gallery-figcaption-wrap" style=" vertical-align:top; "></div></FIGCAPTION></FIGURE></a> <a id="gg-9-63" class="gg-link " href="/wp-content/uploads/2015/03/img902d9.jpg?gid=9" target="_self" title="img9" data-rel="prettyPhoto[pp_gal]" style="border-radius: 0px;" ><FIGURE class="grid-gallery-caption " data-grid-gallery-type="revolving-door-left" data-index="3" style="display:none;border-radius: 0px; ; margin: 0px; width:386px;" ><div class="crop " style=" "><img src="/wp-content/uploads/2015/03/img9-386x243.jpg" class="ggImg" alt="img9" title="img9" data-description="img9" data-caption="img9" data-title="img9" style=" width:386px; " /></div><FIGCAPTION class="" data-alpha="5" style="color:#ffffff; background-color:#0a076d; font-size:14px; text-align:left; font-family:Default;" ><div class="grid-gallery-figcaption-wrap" style=" vertical-align:top; "></div></FIGCAPTION></FIGURE></a> <a id="gg-9-69" class="gg-link " href="/wp-content/uploads/2017/02/imge302d9.jpg?gid=9" target="_self" title="imge3" data-rel="prettyPhoto[pp_gal]" style="border-radius: 0px;" ><FIGURE class="grid-gallery-caption " data-grid-gallery-type="revolving-door-left" data-index="4" style="display:none;border-radius: 0px; ; margin: 0px; width:386px;" ><div class="crop " style=" "><img src="/wp-content/uploads/2017/02/imge3-386x243.jpg" class="ggImg" alt="imge3" title="imge3" data-description="imge3" data-caption="imge3" data-title="imge3" style=" width:386px; " /></div><FIGCAPTION class="" data-alpha="5" style="color:#ffffff; background-color:#0a076d; font-size:14px; text-align:left; font-family:Default;" ><div class="grid-gallery-figcaption-wrap" style=" vertical-align:top; "></div></FIGCAPTION></FIGURE></a> <a id="gg-9-70" class="gg-link " href="/wp-content/uploads/2017/02/imge402d9.jpg?gid=9" target="_self" title="imge4" data-rel="prettyPhoto[pp_gal]" style="border-radius: 0px;" ><FIGURE class="grid-gallery-caption " data-grid-gallery-type="revolving-door-left" data-index="5" style="display:none;border-radius: 0px; ; margin: 0px; width:386px;" ><div class="crop " style=" "><img src="/wp-content/uploads/2017/02/imge4-386x243.jpg" class="ggImg" alt="imge4" title="imge4" data-description="imge4" data-caption="imge4" data-title="imge4" style=" width:386px; " /></div><FIGCAPTION class="" data-alpha="5" style="color:#ffffff; background-color:#0a076d; font-size:14px; text-align:left; font-family:Default;" ><div class="grid-gallery-figcaption-wrap" style=" vertical-align:top; "></div></FIGCAPTION></FIGURE></a> <div class="grid-gallery-clearfix"></div> </div> <div class="gallery-sharing-bottom"></div> <div class="grid-gallery-clearfix"></div> </div> <!-- Gallery by Supsystic plugin 1.12.3 -->

												</div>
											</div>
										</div></div></div></div>
									</div>
								</div>
							</div>
						</div>


					</div>

					<!-- Footer -->
					<footer>
						
						<div class="container">
							<div class="row">
								<div class="col-md-3 col-sm-3">
									<div class="widget"><h4>GANNA HOTEL</h4>			<div class="textwidget">GANNA HOTEL c'est 3 bâtiments, 5 salles de conférence, une résidence et 50 chambres climatisées d'un bon standing équipées d'écrans plasma. Avec des jeux pour enfants, une salle de gym, un bar-restaurant sous une paillote, le GANNA Hôtel a de nombreux atouts pour séduire le visiteur avec des circuits touristiques.</div>
								</div>            </div>
								<div class=" col-md-3 col-sm-3 ">
									<div class="widget"><h4>LIEN UtILES</h4><div class="menu-footer-menu-container"><ul id="menu-footer-menu" class="menu"><li id="menu-item-384" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home menu-item-384"><a href="/">Accueil</a></li>
										<li id="menu-item-444" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-444"><a href="/room/la-residence">La résidence</a></li>
										<li id="menu-item-387" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-387"><a href="/nos-chambres">Nos chambres</a></li>
										<li id="menu-item-385" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-385"><a href="/contact">Contact</a></li>
									</ul></div></div>            </div>
									<div class=" col-md-3 col-sm-3 ">
										<div class="widget"><h4>CONTACT</h4>			<div class="textwidget"><p><i class="fa fa-map-marker"></i> BENIN, Grand PoPo
										</p>
										<p><i class="fa fa-phone"></i> +229 95 84 68 74 ou +229 96 01 30 30</p>
										<p><i class="fa fa-envelope"></i> contact@gannahotelbenin.com</p>
										<p><i class="fa fa-envelope"></i> gannahotel2010@gmail.com</p></div>
									</div>            </div>
									
									<div class="col-md-3 col-sm-3">
										<div class="widget"><form role="search" method="get" class="searchform" action="/" >
											<div>
												<input type="text" value="" name="s" id="s" class="form-control" placeholder="Search..." />
											</div>
										</form></div>            </div>
									</div>
								</div>
								<div class="footer-bottom">
									<div class="container">
										<div class="row">
											<div class="col-xs-6"> &copy;2020 All Rights Reserved GANNA HOTEL BENIN </div>
											<div class="col-xs-6 text-right">
												<ul><li><a href="#">Service Technique GANNA HOTEL</a></li></ul>                </div>
											</div>
										</div>
									</div>
								</footer>

								<!-- Go-top Button -->
								<div id="go-top"><i class="fa fa-angle-up fa-2x"></i></div>

							</div>
							<link rel='stylesheet' id='colorbox-theme1.css-css'  href='/wp-content/plugins/gallery-by-supsystic/src/GridGallery/Colorbox/jquery-colorbox/themes/theme_1/colorboxcad0.css?ver=1.12.3' type='text/css' media='all' />
							<link rel='stylesheet' id='colorbox-theme2.css-css'  href='/wp-content/plugins/gallery-by-supsystic/src/GridGallery/Colorbox/jquery-colorbox/themes/theme_2/colorboxcad0.css?ver=1.12.3' type='text/css' media='all' />
							<link rel='stylesheet' id='colorbox-theme3.css-css'  href='/wp-content/plugins/gallery-by-supsystic/src/GridGallery/Colorbox/jquery-colorbox/themes/theme_3/colorboxcad0.css?ver=1.12.3' type='text/css' media='all' />
							<link rel='stylesheet' id='colorbox-theme4.css-css'  href='/wp-content/plugins/gallery-by-supsystic/src/GridGallery/Colorbox/jquery-colorbox/themes/theme_4/colorboxcad0.css?ver=1.12.3' type='text/css' media='all' />
							<link rel='stylesheet' id='colorbox-theme5.css-css'  href='/wp-content/plugins/gallery-by-supsystic/src/GridGallery/Colorbox/jquery-colorbox/themes/theme_5/colorboxcad0.css?ver=1.12.3' type='text/css' media='all' />
							<link rel='stylesheet' id='colorbox-theme7.css-css'  href='/wp-content/plugins/gallery-by-supsystic/src/GridGallery/Colorbox/jquery-colorbox/themes/theme_7/colorboxcad0.css?ver=1.12.3' type='text/css' media='all' />
							<link rel='stylesheet' id='font-awesome.css-css'  href='//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesomecad0.css?ver=1.12.3' type='text/css' media='all' />
							<link rel='stylesheet' id='grid-gallery.galleries.frontend.css-css'  href='/wp-content/plugins/gallery-by-supsystic/src/GridGallery/Galleries/assets/css/grid-gallery.galleries.frontendcad0.css?ver=1.12.3' type='text/css' media='all' />
							<link rel='stylesheet' id='grid-gallery.galleries.effects.css-css'  href='/wp-content/plugins/gallery-by-supsystic/src/GridGallery/Galleries/assets/css/grid-gallery.galleries.effectscad0.css?ver=1.12.3' type='text/css' media='all' />
							<link rel='stylesheet' id='jquery.flex-images.css-css'  href='/wp-content/plugins/gallery-by-supsystic/src/GridGallery/Galleries/assets/css/jquery.flex-imagescad0.css?ver=1.12.3' type='text/css' media='all' />
							<link rel='stylesheet' id='lightSlider.css-css'  href='/wp-content/plugins/gallery-by-supsystic/src/GridGallery/Galleries/assets/css/lightSlidercad0.css?ver=1.12.3' type='text/css' media='all' />
							<link rel='stylesheet' id='prettyPhoto.css-css'  href='/wp-content/plugins/gallery-by-supsystic/src/GridGallery/Galleries/assets/css/prettyPhotocad0.css?ver=1.12.3' type='text/css' media='all' />
							<link rel='stylesheet' id='photobox.css-css'  href='/wp-content/plugins/gallery-by-supsystic/src/GridGallery/Galleries/assets/css/photoboxcad0.css?ver=1.12.3' type='text/css' media='all' />
							<link rel='stylesheet' id='gridgallerypro-embedded.css-css'  href='/wp-content/plugins/gallery-by-supsystic/src/GridGallery/Galleries/assets/css/gridgallerypro-embeddedcad0.css?ver=1.12.3' type='text/css' media='all' />
							<link rel='stylesheet' id='icons-effects.css-css'  href='/wp-content/plugins/gallery-by-supsystic/src/GridGallery/Galleries/assets/css/icons-effectscad0.css?ver=1.12.3' type='text/css' media='all' />
							<link rel='stylesheet' id='loaders.css-css'  href='/wp-content/plugins/gallery-by-supsystic/src/GridGallery/Galleries/assets/css/loaderscad0.css?ver=1.12.3' type='text/css' media='all' />
							<script type='text/javascript' src='/wp-content/plugins/contact-form-7/includes/js/jquery.form.mind03d.js?ver=3.51.0-2014.06.20'></script>
							<script type='text/javascript'>
								/* <![CDATA[ */
								var _wpcf7 = {"recaptcha":{"messages":{"empty":"Merci de confirmer que vous n\u2019\u00eates pas un robot."}}};
								/* ]]> */
							</script>
							<script type='text/javascript' src='/wp-content/plugins/contact-form-7/includes/js/scripts1c9b.js?ver=4.6.1'></script>
							<script type='text/javascript' src='/wp-content/plugins/gallery-by-supsystic/src/GridGallery/Colorbox/jquery-colorbox/jquery.colorboxcad0.js?ver=1.12.3'></script>
							<script type='text/javascript' src='/wp-content/plugins/gallery-by-supsystic/src/GridGallery/Colorbox/jquery-colorbox/i18n/jquery.colorbox-frcad0.js?ver=1.12.3'></script>
							<script type='text/javascript' src='/wp-content/themes/starhotel/js/bootstrap.min6e0e.js?ver=3.0.0'></script>
							<script type='text/javascript' src='/wp-content/themes/starhotel/js/bootstrap-hover-dropdown.min8c23.js?ver=4.7.16'></script>
							<script type='text/javascript' src='/wp-content/themes/starhotel/js/owl.carousel.min8c23.js?ver=4.7.16'></script>
							<script type='text/javascript' src='/wp-content/themes/starhotel/js/jquery.parallax-1.1.38c23.js?ver=4.7.16'></script>
							<script type='text/javascript' src='/wp-content/themes/starhotel/js/jquery.nicescroll8c23.js?ver=4.7.16'></script>
							<script type='text/javascript' src='/wp-content/themes/starhotel/js/jquery.prettyPhoto8c23.js?ver=4.7.16'></script>
							<script type='text/javascript' src='/wp-content/themes/starhotel/js/jquery-ui-1.10.4.custom.min8c23.js?ver=4.7.16'></script>
							<script type='text/javascript' src='/wp-content/themes/starhotel/js/jquery.sticky8c23.js?ver=4.7.16'></script>
							<script type='text/javascript' src='/wp-content/themes/starhotel/js/jquery.forms8c23.js?ver=4.7.16'></script>
							<script type='text/javascript' src='/wp-content/themes/starhotel/js/waypoints.min8c23.js?ver=4.7.16'></script>
							<script type='text/javascript' src='/wp-content/themes/starhotel/js/jquery.isotope.min8c23.js?ver=4.7.16'></script>
							<script type='text/javascript' src='/wp-content/themes/starhotel/js/skip-link-focus-fix08e0.js?ver=20130115'></script>
							<script type='text/javascript'>
								/* <![CDATA[ */
								var object_sh_gmaps = {"mapaddress":"BENIN GRAND POPO, GANNA HOTEL","maplatitude":"6.2735234","maplongitude":"1.8022037","mapicon":"\/wp-content\/themes\/starhotel\/images\/ui\/gmap-icon.png","mappopover":"                    <h4>Notre Hotel<\/h4><p>Ganna Hotel Benin<\/p>                ","mapiconwidth":"42","mapiconheight":"53","mapzoom":"12"};
								var object_sh_date = {"datepickerformat":"DD, d MM, yy"};
								var object_sh_translations = {"translations_months":["January","February","March","April","May","June","July","August","September","October","November","December"],"translations_days":["Su","Mo","Tu","We","Th","Fr","Sa"]};
								/* ]]> */
							</script>
							<script type='text/javascript' src='/wp-content/themes/starhotel/js/custom8c23.js?ver=4.7.16'></script>
							<script type='text/javascript' src='/wp-content/plugins/Ultimate_VC_Addons/assets/min-js/SmoothScroll.minbcd2.js?ver=3.16.7'></script>
							<script type='text/javascript' src='/wp-includes/js/wp-embed.min8c23.js?ver=4.7.16'></script>
							<script type='text/javascript' src='/wp-content/plugins/js_composer/assets/js/dist/js_composer_front.min0147.js?ver=4.12'></script>
							<script type='text/javascript' src='/wp-content/plugins/js_composer/assets/lib/waypoints/waypoints.min0147.js?ver=4.12'></script>
							<!-- <script type='text/javascript' src='//ajax.googleapis.com/ajax/libs/webfont/1/webfontcad0.js?ver=1.12.3'></script> -->
							<script type='text/javascript' src='/wp-content/plugins/gallery-by-supsystic/src/GridGallery/Galleries/assets/js/lib/imagesLoaded.mincad0.js?ver=1.12.3'></script>
							<script type='text/javascript' src='/wp-content/plugins/gallery-by-supsystic/src/GridGallery/Galleries/assets/js/lib/jquery.easingcad0.js?ver=1.12.3'></script>
							<script type='text/javascript' src='/wp-content/plugins/gallery-by-supsystic/src/GridGallery/Galleries/assets/js/lib/jquery.prettyphotocad0.js?ver=1.12.3'></script>
							<script type='text/javascript' src='/wp-content/plugins/gallery-by-supsystic/src/GridGallery/Galleries/assets/js/lib/jquery.quicksandcad0.js?ver=1.12.3'></script>
							<script type='text/javascript' src='/wp-content/plugins/gallery-by-supsystic/src/GridGallery/Galleries/assets/js/lib/jquery.wookmarkcad0.js?ver=1.12.3'></script>
							<script type='text/javascript' src='/wp-content/plugins/gallery-by-supsystic/src/GridGallery/Galleries/assets/js/lib/hammer.mincad0.js?ver=1.12.3'></script>
							<script type='text/javascript' src='/wp-content/plugins/gallery-by-supsystic/src/GridGallery/Galleries/assets/js/lib/jquery.historycad0.js?ver=1.12.3'></script>
							<script type='text/javascript' src='/wp-content/plugins/gallery-by-supsystic/app/assets/js/jquery.lazyload.mincad0.js?ver=1.12.3'></script>
							<script type='text/javascript' src='/wp-content/plugins/gallery-by-supsystic/src/GridGallery/Galleries/assets/js/lib/jquery.slimscrollcad0.js?ver=1.12.3'></script>
							<script type='text/javascript' src='/wp-content/plugins/gallery-by-supsystic/src/GridGallery/Galleries/assets/js/jquery.photoboxcad0.js?ver=1.12.3'></script>
							<script type='text/javascript' src='/wp-content/plugins/gallery-by-supsystic/src/GridGallery/Galleries/assets/js/jquery.sliphovercad0.js?ver=1.12.3'></script>
							<script type='text/javascript' src='/wp-content/plugins/gallery-by-supsystic/src/GridGallery/Galleries/assets/js/frontendcad0.js?ver=1.12.3'></script>
						</body>

						</html>
